:root {
  --base-color: #8aaae5;
  --bg-color: #343434;
  --white: #fff;
  --black: #000;
  /* --bg-color: #fff; when on LIGHT theme */

  --font-Sedgwick: "Sedgwick Ave Display";
  --font-Jolly: "Jolly Lodger";
  --font-Exp-Black: "Mona Sans Expanded Black";
  --font-Black-It: "Mona Sans Black Italic";
  --font-Black: "Mona Sans Black";
  --font-Bold: "Mona Sans Bold";
  --font-Regular: "Mona Sans Regular";
  --font-Light: "Mona Sans Light";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;

  /* to remove all blue highlights when an element is clicked */
}

body {
  font-family: var(--font-Sedgwick), cursive;
  font-size: 20px;
  background-color: var(--bg-color);
  cursor: none;
  /* min-height: 100vh;
  position: relative;
 */
}

.cursor-outline,
.cursor-dot {
  opacity: 0;
  z-index: 99999999999;
}

.cursor-outline {
  border-radius: 50px;
  position: fixed;
  width: 80px;
  height: 80px;
  /* border: solid 7px #2e91cb; */
  border: solid 5px #fff;
  mix-blend-mode: difference;
  pointer-events: none;
}

.cursor-dot {
  mix-blend-mode: difference;
  border-radius: 50px;
  position: fixed;
  width: 80px;
  height: 80px;
  /* background-color: #53a5d5;
  border: solid 1px #53a5d5; */
  background-color: #fff;
  border: solid 1px #fff;
  pointer-events: none;
}

.cursor-outline,
.cursor-dot {
  top: 50%;
  left: 10%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: translate(-50%, -50%) rotate(0deg);
  transform: translate(-50%, -50%) rotate(0deg);
}

@media screen and (max-width: 768px) {
  body {
    cursor: auto;
  }

  .cursor-outline,
  .cursor-dot {
    display: none;
  }
}
