@import url("https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Jolly+Lodger&display=swap");

:root {
  --base-color: #8aaae5;
  --bg-color: #343434;
  /* --bg-color: #fff; when on LIGHT theme */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Sedgwick Ave Display", cursive;
  font-size: 20px;
  background-color: var(--bg-color);
  /* min-height: 100vh;
  position: relative;
 */
}
