---
// src/pages/404.astro
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Page Not Found"
  description="Oops! You've stumbled upon uncharted territory. 💫 Return to the digital realm with a click and explore anew."
>
  <div class="container">
    <main>
      <h1>404</h1>
      <p>Page Not Found</p>
      <a href="/">Go back to the homepage</a>
    </main>
  </div>
</Layout>

<style>
  .container {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: var(--font-Black);
    text-align: center;
  }

  h1 {
    font-size: 25rem;
    color: var(--white);
  }

  p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  a {
    font-size: 1rem;
    color: var(--white);
  }

  main {
    color: #fff;
  }
</style>
