---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contact">
  <div class="container">
    <main>
    I'll reach out to you later
    </main>
  </div>
</Layout>

<style>
  main {
    color: #fff;
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: :red;
    font-family: var(--font-Black-It);
  }

</style>

