---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Contact"
  description="Ready to make things happen? 🔥 Reach out to Andrea and ignite the spark of collaboration. Let's turn ideas into reality, together."
>
  <div class="container">
    <main>
      <form action="#" id="emailForm">
        <div class="contact-row">
          <div class="contact-form">
            <div class="heading">
              Let's work together! <br />Fill out this form.
            </div>
            <div class="form-group">
              <label for="inputFullname">first and last name *</label>
              <input
                id="inputFullname"
                class="form-control custom-input"
                type="text"
                required
              />
            </div>
            <div class="form-group">
              <label for="inputCompany">company name</label>
              <input
                id="inputCompany"
                class="form-control custom-input"
                type="text"
              />
            </div>
            <div class="form-group">
              <label for="inputEmail">email *</label>
              <input
                id="inputEmail"
                class="form-control custom-input"
                type="email"
                required
              />
            </div>
            <div class="form-group">
              <label class="mb-2" for="inputDetails">
                tell me about your company and project *
              </label>
              <textarea
                id="inputDetails"
                placeholder="Type something interesting..."
                class="form-control textarea custom-input-textarea"
                required></textarea>
              <button type="submit" class="btn btn-outline-success">
                Get in touch
              </button>
            </div>
          </div>
          <hr class="separator" />
          <div class="contact-info">
            <div class="img-block">
              <img src="guy.svg" alt="" class="guy" draggable="false" />
            </div>
            <div class="info-details">
              <div class="info-item">
                <small>let's collaborate</small>
                <a href="#" class="info-link">work@dhrego.com</a>
              </div>
              <div class="info-item">
                <small>feature me</small>
                <a href="#" class="info-link">press@dhrego.com</a>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="success_msg" style="display: none;">
        <div class="logo">
          <span>
            <img class="icon-1" src="smile.svg" alt="smile" srcset="" />
          </span>
        </div>
        <span class="message">Message succesfully sent</span>
      </div>
      <div class="error_msg" style="display: none;">
        <div class="logo">
          <span>
            <img class="icon-1" src="sad.svg" alt="smile" srcset="" />
          </span>
        </div>
        <span class="message">Unable to send message</span>
      </div>
    </main>
  </div>
</Layout>

<style>
  main {
    color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-Black-It);
  }

  .img-block {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
  }

  .img-block img {
    width: 100%;
    height: 100%;
  }

  .contact-row {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .contact-form {
    flex: 2;
    padding: 1rem 3rem;
  }

  .heading {
    font-size: clamp(30px, 5vw, 48px);
    font-family: var(--font-Light);
    margin-bottom: 2rem;
    letter-spacing: 2px;
  }

  .form-group:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  .form-control {
    width: 100%;
  }

  .custom-input {
    transition: all 0.3s ease;
    font-family: var(--font-Regular);
    font-size: 1rem;
    border: none;
    border-bottom: 1px solid #ced4da;
    border-radius: 0;
    padding: 1rem 0;
    box-shadow: none;
    background-color: transparent;
    outline: none !important;
    color: var(--white);
  }

  .custom-input:not(#inputEmail) {
    text-transform: capitalize;
  }

  .custom-input:focus {
    outline: none;
    box-shadow: none;
    border-bottom: 1px solid rgb(180, 217, 155);
    color: rgb(108, 186, 55);
  }

  .custom-input-textarea {
    transition: all 0.15s ease;
    font-family: var(--font-Regular);
    font-size: 1rem;
    border: 1px solid #ced4da;
    margin-top: 32px;
    padding: 8px;
    box-shadow: none;
    background-color: transparent;
    outline: none !important;
    color: var(--white);
    resize: vertical;
  }

  .custom-input-textarea:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid rgb(180, 217, 155);
    color: rgb(108, 186, 55);
  }

  .custom-input-textarea::placeholder {
    font-size: 16px;
    font-family: var(--font-Light);
  }

  .custom-input-textarea:focus::placeholder {
    transition: all 0.15s ease-in;
    color: rgb(108, 186, 55);
  }

  .textarea {
    height: 150px;
    resize: none;
  }

  .btn {
    font-family: var(--font-Regular);
    padding: 0.8rem 1.2rem;
    background: linear-gradient(135deg, #27a348, #3bba30);
    color: #fff;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    outline: none;
    box-shadow:
      0 4px 6px rgba(0, 0, 0, 0.1),
      0 1px 3px rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 12px;
  }

  .btn:hover {
    background: linear-gradient(135deg, #3bba30, #27a348);
    box-shadow:
      0 6px 10px rgba(0, 0, 0, 0.15),
      0 2px 5px rgba(0, 0, 0, 0.1);
    filter: brightness(0.9);
  }

  .btn:active {
    box-shadow:
      0 3px 5px rgba(0, 0, 0, 0.2),
      0 1px 2px rgba(0, 0, 0, 0.15);
    filter: brightness(0.7);
  }

  .separator {
    border: none;
    border-top: 1px solid #ddd;
  }

  .contact-info {
    flex: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .img-block {
    display: none;
  }

  .info-details {
    margin-top: 2rem;
  }

  .info-item {
    margin-bottom: 1.5rem;
  }

  .info-link {
    display: block;
    text-decoration: none;
    font-weight: bold;
    color: var(--white);
    font-family: var(--font-Bold);
    font-size: 28px;
    transition:
      color 0.3s ease,
      filter 0.3s ease;
    letter-spacing: 2px;
  }

  .info-link:hover {
    text-decoration: underline;
    color: #92e3a9;
  }

  .info-link:active {
    filter: brightness(0.7);
  }

  label {
    text-transform: uppercase;
    font-size: 16px;
    font-family: var(--font-Regular);
    color: rgba(255, 255, 255, 0.6);
    letter-spacing: 1px;
  }

  .info-item small {
    font-size: 14px;
    font-family: var(--font-Regular);
    color: rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .icon-1 {
    width: 45px;
    height: 45px;
  }

  .success_msg,
  .error_msg {
    position: fixed;
    right: 20px;
    bottom: -10%;
    padding: 10px 15px;
    display: flex;
    gap: 15px;
    font-family: var(--font-Light);
    font-size: 14px;
    border-radius: 8px;
    user-select: none;
  }

  .success_msg {
    background-color: #6ca46c;
  }

  .error_msg {
    background-color: #b75353;
  }

  .success_msg .logo span,
  .error_msg .logo span {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .message {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: start;
  }

  .close_btn {
    display: flex;
    align-items: center;
  }

  .close_btn span {
    cursor: pointer;
  }

  .close_btn span img {
    display: block;
    width: 12px;
    height: 12px;
  }

  /* MEDIA QUERIES */
  @media screen and (max-width: 768px) {
    .contact-form {
      padding: 20px 10px 10px;
    }

    .info-details {
      margin-top: 0;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    }

    .contact-info {
      display: unset;
      padding: 10px;
    }

    .info-item small {
      font-size: 10px;
    }

    .info-item .info-link {
      font-size: 18px;
    }

    .form-group:last-child {
      margin-bottom: 0;
    }

    .success_msg,
    .error_msg {
      right: unset;
      height: max-content;
      bottom: unset;
      top: -10%;
    }
  }

  @media (min-width: 992px) {
    .img-block {
      display: block;
    }
  }

  @media (min-width: 900px) {
    .contact-row {
      flex-direction: row;
    }
  }
</style>

<script>
  import $ from "jquery";
  import { gsap } from "gsap";
  import { LogSnag } from "@logsnag/node";

  const innerWidth = window.innerWidth;

  $(document).ready(function () {
    //FUNCTIONS
    const resetfields = () => {
      $("input,textarea").val("");
    };

    const toast = (elem: Element, innerWidth: number) => {
      gsap.set(elem, { display: "flex", opacity: 1 });

      const animationDirection =
        innerWidth <= 768 ? { top: "10px" } : { bottom: "10px" };
      const onCompleteDirection =
        innerWidth <= 768 ? { top: "-10%" } : { bottom: "-10%" };
      const duration = innerWidth <= 768 ? 0.5 : 0.3;

      gsap.to(elem, {
        ...animationDirection,
        duration: duration,
        ease: "power1.in",
        onComplete: () => {
          gsap.delayedCall(3, () => {
            gsap.to(elem, {
              ...onCompleteDirection,
              opacity: 0,
              duration: 0.8,
              ease: "power1.out",
              onComplete: () => {
                gsap.set(elem, { delay: 2, display: "none" });
              },
            });
          });
        },
      });
    };

    const capitalizeFirstLetter = (str: string) => {
      if (str.length === 0) return str;
      return str.charAt(0).toUpperCase() + str.slice(1).toLowerCase();
    };

    $("#emailForm").on("submit", async function (event: any) {
      event.preventDefault();

      const name = capitalizeFirstLetter($("#inputFullname").val());
      const email = $("#inputEmail").val();
      const company = capitalizeFirstLetter($("#inputCompany").val());
      const message = capitalizeFirstLetter($("#inputDetails").val());

      const logsnag = new LogSnag({
        token: "27f2c9d17e77fc5dbb62d40c2a1f904b",
        project: "portfolio",
      });

      try {
        // Track an event
        await logsnag.track({
          channel: "messages",
          event: company
            ? `${name} from ${company}`
            : `${name} sent you a message`,
          user_id: email,
          icon: "✉️",
          notify: true,
          tags: {
            email: email,
            company: company || "N/A",
          },
          description: message,
          // message: message,
        });

        // Identify user traits
        await logsnag.identify({
          user_id: email,
          properties: {
            name: name,
            email: email,
            company: company || "N/A",
          },
        });

        toast($(".success_msg"), innerWidth);
      } catch (error) {
        console.log(error);
        toast($(".error_msg"), innerWidth);
      }
      resetfields();
    });
  });
</script>
