---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contact">
  <div class="container">
    <main>
    <!-- I'll reach out to you later -->
      <div class="img-block">
        <img src="guy.svg" alt="" class="guy">
      </div>
    </main>
  </div>
</Layout>

<style>
  main {
    color: #fff;
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: :red;
    font-family: var(--font-Black-It);
  }
  .guy {
    width: 300px;
    height: 300px;    
  }
  .img-block{
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .3);
  }

</style>

