---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contact">
  <div class="container">
    <main>
      <form action="/">
        <div class="contact-row">
          <div class="contact-form">
            <div class="heading">
              Let's work together! <br />Fill out this form.
            </div>
            <div class="form-group">
              <label for="inputFullname">first and last name</label>
              <input
                id="inputFullname"
                class="form-control custom-input"
                type="text"
                required
              />
            </div>
            <div class="form-group">
              <label for="inputCompany">company name</label>
              <input
                id="inputCompany"
                class="form-control custom-input"
                type="text"
                required
              />
            </div>
            <div class="form-group">
              <label for="inputEmail">email</label>
              <input
                id="inputEmail"
                class="form-control custom-input"
                type="email"
                required
              />
            </div>
            <div class="form-group">
              <label class="mb-2" for="inputDetails">
                tell me about your company and project
              </label>
              <textarea
                id="inputDetails"
                placeholder="Type something interesting..."
                class="form-control textarea custom-input-textarea"></textarea>
              <button type="button" class="btn btn-outline-success">
                Get in touch
              </button>
            </div>
          </div>
          <hr class="separator" />
          <div class="contact-info">
            <div class="img-block">
              <img src="guy.svg" alt="" class="guy" />
            </div>
            <div class="info-details">
              <div class="info-item">
                <small>let's collaborate</small>
                <a href="#" class="info-link">work@dhrego.com</a>
              </div>
              <div class="info-item">
                <small>feature me</small>
                <a href="#" class="info-link">press@dhrego.com</a>
              </div>
            </div>
          </div>
        </div>
      </form>

      <!-- I'll reach out to you later -->
    </main>
  </div>
</Layout>

<style>
  main {
    color: #fff;
    min-height: calc(100vh - 88.88px);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-Black-It);
  }

  .img-block {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
  }

  .img-block img {
    width: 100%;
    height: 100%;
  }

  /* Container styles */
  /* .contact-container {
    margin: 0 auto;
    padding: 1rem;
    max-width: 100%;
  } */

  /* Row styles */
  .contact-row {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  /* Form styles */
  .contact-form {
    flex: 2;
    padding: 1rem 3rem;
  }

  .heading {
    font-size: clamp(32px, 5vw, 48px);
    font-family: var(--font-Light);
    margin-bottom: 2rem;
  }

  .form-group {
    margin-bottom: 1.5rem;
  }

  .form-control {
    width: 100%;
    /* padding: 0.5rem; */
  }

  .custom-input {
    transition: all 0.3s ease;
    font-family: var(--font-Regular);
    font-size: 1rem;
    border: none;
    border-bottom: 1px solid #ced4da;
    border-radius: 0;
    padding: 1rem 0;
    box-shadow: none;
    background-color: transparent;
    outline: none !important;
    color: var(--white);
  }

  .custom-input:not(#inputEmail) {
    text-transform: capitalize;
  }

  .custom-input:focus {
    outline: none;
    box-shadow: none;
    border-bottom: 1px solid rgb(180, 217, 155);
    color: rgb(108, 186, 55);
  }

  .custom-input-textarea {
    transition: all 0.15s ease;
    font-family: var(--font-Regular);
    font-size: 1rem;
    border: 1px solid #ced4da;
    margin-top: 32px;
    padding: 8px;
    box-shadow: none;
    background-color: transparent;
    outline: none !important;
    color: var(--white);
    resize: vertical;
  }

  .custom-input-textarea:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid rgb(180, 217, 155);
    color: rgb(108, 186, 55);
  }

  .custom-input-textarea::placeholder {
    font-size: 16px;
    font-family: var(--font-Light);
  }

  .custom-input-textarea:focus::placeholder {
    transition: all 0.15s ease-in;
    color: rgb(108, 186, 55);
  }

  .textarea {
    min-height: 150px;
  }

  .btn {
    font-family: var(--font-Regular);
    padding: 0.8rem 1.2rem;
    background: linear-gradient(135deg, #27a348, #3bba30);
    color: #fff;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    outline: none;
    box-shadow:
      0 4px 6px rgba(0, 0, 0, 0.1),
      0 1px 3px rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 12px;
  }

  .btn:hover {
    background: linear-gradient(135deg, #3bba30, #27a348);
    box-shadow:
      0 6px 10px rgba(0, 0, 0, 0.15),
      0 2px 5px rgba(0, 0, 0, 0.1);
    filter: brightness(0.9);
  }

  .btn:active {
    box-shadow:
      0 3px 5px rgba(0, 0, 0, 0.2z),
      0 1px 2px rgba(0, 0, 0, 0.15);
    filter: brightness(0.7);
  }

  .separator {
    border: none;
    border-top: 1px solid #ddd;
    /* margin: 2rem 0; */
  }

  .contact-info {
    flex: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .img-block {
    display: none;
  }

  .info-details {
    margin-top: 2rem;
  }

  .info-item {
    margin-bottom: 1.5rem;
  }

  .info-link {
    display: block;
    text-decoration: none;
    font-weight: bold;
    color: var(--white);
    font-family: var(--font-Bold);
    font-size: 28px;
    transition:
      color 0.3s ease,
      filter 0.3s ease;
  }

  .info-link:hover {
    text-decoration: underline;
    color: #92e3a9;
  }

  .info-link:active {
    filter: brightness(0.7);
  }

  label {
    text-transform: uppercase;
    font-size: 16px;
    font-family: var(--font-Regular);
    color: rgba(255, 255, 255, 0.6);
  }

  .info-item small {
    font-size: 14px;
    font-family: var(--font-Regular);
    color: rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
  }

  /* MEDIA QUERIES */
  @media screen and (max-width: 768px) {
    .contact-form {
      padding: 1rem;
    }
    .info-details {
      margin-top: 0;
      display: flex;
      justify-content: space-between;
    }
    .contact-info {
      display: unset;
    }

    .info-item small {
      font-size: 10px;
    }
    .info-item .info-link {
      font-size: 18px;
    }

    .form-group:last-child {
      margin-bottom: 0;
    }
  }

  @media (min-width: 992px) {
    .img-block {
      display: block;
    }
  }

  @media (min-width: 768px) {
    .contact-row {
      flex-direction: row;
    }
  }
</style>
