---
import Layout from "../layouts/Layout.astro";
import Loader from "../components/Loader.astro";
import Loader2 from "../components/Loader2.astro";
import { DreamyGradient } from "@muridot0/dreamy-gradients";
---

<Layout
  title="Hello ðŸ‘‹ðŸ¾"
  description="Dive into Creativity ðŸŒŠ: Immerse yourself in my projects and artworks."
>
  <Loader2 />
  <div class="container">
    <main>
      <div class="block-1">
        <DreamyGradient
          size={{ height: "9rem", width: "9rem" }}
          color={"linear-gradient(#FF512F, #DD2476)"}
          position={{ left: "200px", top: "90px" }}
          blur={6}
          client:only="react"
        />
        <div class="hero">
          <div class="hero-intro">
            <span>
              <img src="Star.svg" alt="" srcset="" draggable="false" />
            </span>
            <span>introducing</span>
            <span>
              <img src="Star.svg" alt="" srcset="" draggable="false" />
            </span>
          </div>
          <div class="hero-main">
            <div class="blend_1">
              <img src="blend_1.svg" alt="" srcset="" draggable="false" />
            </div>
            andrea
          </div>
          <div class="hero-sub">software developer and ui/ux designer</div>
        </div>
        <div class="blend_2">
          <img src="blend_2.svg" alt="" srcset="" draggable="false" />
        </div>
        <div class="blend_3">
          <img src="blend_3.svg" alt="" srcset="" draggable="false" />
        </div>
      </div>
      <div class="block-2">
        <div class="col">
          <div class="title">Figma ipsum component variant main layer.</div>
          <div class="btn-container">
            <button
              ><span>About me</span>
              <span class="arrow"
                ><svg
                  width="10"
                  height="10"
                  viewBox="0 0 10 10"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M9.50047 0.875C9.50047 0.775544 9.46097 0.680161 9.39064 0.609835C9.32031 0.539509 9.22493 0.5 9.12547 0.5H4.62547C4.52602 0.5 4.43064 0.539509 4.36031 0.609835C4.28998 0.680161 4.25047 0.775544 4.25047 0.875C4.25047 0.974456 4.28998 1.06984 4.36031 1.14017C4.43064 1.21049 4.52602 1.25 4.62547 1.25H8.22022L0.609974 8.8595C0.575108 8.89437 0.547451 8.93576 0.528581 8.98131C0.509712 9.02687 0.5 9.07569 0.5 9.125C0.5 9.17431 0.509712 9.22313 0.528581 9.26869C0.547451 9.31424 0.575108 9.35563 0.609974 9.3905C0.64484 9.42537 0.686232 9.45302 0.731786 9.47189C0.777341 9.49076 0.826166 9.50047 0.875474 9.50047C0.924782 9.50047 0.973607 9.49076 1.01916 9.47189C1.06472 9.45302 1.10611 9.42537 1.14097 9.3905L8.75047 1.78025V5.375C8.75047 5.47446 8.78998 5.56984 8.86031 5.64017C8.93063 5.71049 9.02602 5.75 9.12547 5.75C9.22493 5.75 9.32031 5.71049 9.39064 5.64017C9.46097 5.56984 9.50047 5.47446 9.50047 5.375V0.875Z"
                    fill="white"></path>
                </svg>
              </span></button
            >
            <div class="test"></div>
          </div>
        </div>
        <div class="col">
          <p class="content">
            Figma ipsum component variant main layer. List image library figjam
            style layout editor font editor. Shadow effect reesizing layer
            underline flows vector thumbnail. Reesizing style link follower
            inspect reesizing flows flatten outline. Pen component figjam
            connection pen font selection.
          </p>
        </div>
        <div class="blend_4">
          <img src="blend_4.svg" alt="" srcset="" draggable="false" />
        </div>
      </div>
    </main>
  </div>
  <!-- <Loader /> -->
</Layout>

<style>
  body {
    background-color: var(--bg-color-alt);
    overflow: hidden;
  }

  main {
    min-height: 0;
  }

  .block-1 {
    min-height: calc(100vh - 56.38px);
  }
  .block-2 {
    position: relative;
    height: 80vh;
    display: flex;
    justify-content: space-around;
    padding: 0 40px;
    color: #fff;
    font-family: var(--font-Regular);
  }

  .block-2 .col {
    width: 30%;
  }

  .btn-container {
    width: max-content;
    height: max-content;
    position: relative;
  }

  .block-2 .col .title {
    font-family: var(--font-Regular);
    font-size: 50px;
    margin-bottom: 30px;
  }

  .block-2 .col .content {
    font-family: var(--font-Regular);
    font-size: 24px;
  }

  .block-2 button {
    position: relative;
    top: 24px;
    border: 1px solid #fff;
    padding: 14px 54px;
    border-radius: 8px;
    display: flex;
    gap: 8px;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    background-color: var(--bg-color-alt);
    transition:
      top 0.3s ease,
      background 0.3s ease;
    user-select: none;
  }

  .block-2 button:hover {
    top: 26px;
  }

  .block-2 button:active {
    top: 30px;
    background-color: #fff;
    color: #000;
  }

  .block-2 button:active .arrow svg path {
    fill: rgb(0, 0, 0);
  }

  .test {
    position: absolute;
    border: 1px solid #fff;
    padding: 14px 54px;
    width: 100%;
    border-radius: 8px;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    background-color: var(--bg-color-alt);
    z-index: -1;
    pointer-events: none;
  }

  /* body::-webkit-scrollbar {
    width: 0;
    background: transparent;
  } */

  .hero {
    position: absolute;
    top: calc(50% - 66.38px);
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white);
    user-select: none;
    -webkit-user-select: none;
  }

  .hero-intro {
    text-align: center;
    font-size: clamp(13px, 2vw, 16px);
    font-family: var(--font-Light);
    color: #808080;
  }

  .hero-main {
    position: relative;
    font-size: clamp(60px, 15vw, 200px);
    background: rgb(255, 255, 255);
    background: radial-gradient(
      circle,
      rgba(255, 255, 255, 0.9) 0%,
      rgba(153, 153, 153, 0.7) 77%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: var(--font-Exp-Black);
    text-transform: uppercase;
  }

  .hero-sub {
    text-align: end;
    text-transform: uppercase;
    font-size: clamp(13px, 2vw, 16px);
    font-family: var(--font-Light);
    opacity: 0.5;
    color: var(--white);
  }

  main {
    height: 100%;
  }

  .blend_1 {
    position: absolute;
    top: -150px;
    left: -120px;
    animation: bounce 2s infinite ease-in-out;
  }

  .blend_2 {
    position: absolute;
    bottom: 150px;
    right: 120px;
    animation: bounce 2s infinite ease-in-out 0.3s;
  }

  .blend_3 {
    position: absolute;
    bottom: 150px;
    left: 120px;
    animation: bounce 2s infinite ease-in-out 0.7s;
  }

  .blend_4 {
    position: absolute;
    left: 0;
    bottom: 50px;
    animation: bounce 2s infinite ease-in-out 0.9s;
    z-index: -2;
  }

  @media screen and (max-width: 768px) {
    .blend_1,
    .blend_2,
    .blend_3 {
      display: none;
    }
  }

  @keyframes bounce {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(10px);
    }
  }
</style>
