---
import Layout from "../layouts/Layout.astro";
import Loader from "../components/Loader.astro";
import Loader2 from "../components/Loader2.astro";
import { DreamyGradient } from "@muridot0/dreamy-gradients";
---

<Layout
  title="Hello ðŸ‘‹ðŸ¾"
  description="Dive into Creativity ðŸŒŠ: Immerse yourself in my projects and artworks."
>
  <Loader2 />
  <div class="container">
    <main>
      <div class="block-1">
        <DreamyGradient
          size={{ height: "9rem", width: "9rem" }}
          color={"linear-gradient(#FF512F, #DD2476)"}
          position={{ left: "200px", top: "90px" }}
          blur={6}
          client:only="react"
        />
        <div class="hero">
          <div class="hero-intro">
            <span>
              <img src="Star.svg" alt="" srcset="" draggable="false" />
            </span>
            <span>introducing</span>
            <span>
              <img src="Star.svg" alt="" srcset="" draggable="false" />
            </span>
          </div>
          <div class="hero-main">
            <div class="blend_1">
              <img src="blend_1.svg" alt="" srcset="" draggable="false" />
            </div>
            andrea
          </div>
          <div class="hero-sub">software developer and ui/ux designer</div>
        </div>
        <div class="blend_2">
          <img src="blend_2.svg" alt="" srcset="" draggable="false" />
        </div>
        <div class="blend_3">
          <img src="blend_3.svg" alt="" srcset="" draggable="false" />
        </div>
      </div>
      <div class="block-2">
        <div class="col">
          <div class="title">Figma ipsum component variant main layer.</div>
          <div class="btn-container">
            <a href="/me"
              ><span>About me</span>
              <span class="arrow"
                ><svg
                  width="10"
                  height="10"
                  viewBox="0 0 10 10"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M9.50047 0.875C9.50047 0.775544 9.46097 0.680161 9.39064 0.609835C9.32031 0.539509 9.22493 0.5 9.12547 0.5H4.62547C4.52602 0.5 4.43064 0.539509 4.36031 0.609835C4.28998 0.680161 4.25047 0.775544 4.25047 0.875C4.25047 0.974456 4.28998 1.06984 4.36031 1.14017C4.43064 1.21049 4.52602 1.25 4.62547 1.25H8.22022L0.609974 8.8595C0.575108 8.89437 0.547451 8.93576 0.528581 8.98131C0.509712 9.02687 0.5 9.07569 0.5 9.125C0.5 9.17431 0.509712 9.22313 0.528581 9.26869C0.547451 9.31424 0.575108 9.35563 0.609974 9.3905C0.64484 9.42537 0.686232 9.45302 0.731786 9.47189C0.777341 9.49076 0.826166 9.50047 0.875474 9.50047C0.924782 9.50047 0.973607 9.49076 1.01916 9.47189C1.06472 9.45302 1.10611 9.42537 1.14097 9.3905L8.75047 1.78025V5.375C8.75047 5.47446 8.78998 5.56984 8.86031 5.64017C8.93063 5.71049 9.02602 5.75 9.12547 5.75C9.22493 5.75 9.32031 5.71049 9.39064 5.64017C9.46097 5.56984 9.50047 5.47446 9.50047 5.375V0.875Z"
                    fill="white"></path>
                </svg>
              </span></a
            >
            <div class="test"></div>
          </div>
        </div>
        <div class="col">
          <p class="content">
            Figma ipsum component variant main layer. List image library figjam
            style layout editor font editor. Shadow effect reesizing layer
            underline flows vector thumbnail. Reesizing style link follower
            inspect reesizing flows flatten outline. Pen component figjam
            connection pen font selection.
          </p>
        </div>
        <div class="blend_4">
          <img src="blend_4.svg" alt="" srcset="" draggable="false" />
        </div>
        <div class="blend_5">
          <img src="blend_5.svg" alt="" srcset="" draggable="false" />
        </div>
      </div>
      <div class="block-3">
        <div class="block-header">
          <div class="title">SERVICES</div>
          <div class="block-0">
            <div class="btn-container">
              <button class="prev">
                <span class="arrow"
                  ><svg
                    width="14"
                    height="10"
                    viewBox="0 0 14 10"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M14.0009 4.99965C14.0009 4.86705 13.9482 4.73987 13.8544 4.6461C13.7607 4.55233 13.6335 4.49965 13.5009 4.49965H1.70789L4.85489 1.35366C4.90138 1.30717 4.93826 1.25198 4.96342 1.19124C4.98858 1.1305 5.00153 1.0654 5.00153 0.999655C5.00153 0.933911 4.98858 0.868811 4.96342 0.808072C4.93826 0.747332 4.90138 0.692143 4.85489 0.645655C4.80841 0.599167 4.75322 0.562291 4.69248 0.537132C4.63174 0.511973 4.56664 0.499023 4.50089 0.499023C4.43515 0.499023 4.37005 0.511973 4.30931 0.537132C4.24857 0.562291 4.19338 0.599167 4.14689 0.645655L0.146894 4.64565C0.100331 4.6921 0.0633877 4.74728 0.0381812 4.80802C0.0129748 4.86877 0 4.93389 0 4.99965C0 5.06542 0.0129748 5.13054 0.0381812 5.19129C0.0633877 5.25203 0.100331 5.30721 0.146894 5.35365L4.14689 9.35365C4.19338 9.40014 4.24857 9.43702 4.30931 9.46218C4.37005 9.48734 4.43515 9.50029 4.50089 9.50029C4.56664 9.50029 4.63174 9.48734 4.69248 9.46218C4.75322 9.43702 4.80841 9.40014 4.85489 9.35365C4.90138 9.30717 4.93826 9.25198 4.96342 9.19124C4.98858 9.1305 5.00153 9.0654 5.00153 8.99965C5.00153 8.93391 4.98858 8.86881 4.96342 8.80807C4.93826 8.74733 4.90138 8.69214 4.85489 8.64565L1.70789 5.49965H13.5009C13.6335 5.49965 13.7607 5.44698 13.8544 5.35321C13.9482 5.25944 14.0009 5.13226 14.0009 4.99965Z"
                      fill="#FFFDFD"></path>
                  </svg>
                </span>
              </button>
              <div class="test"></div>
            </div>
            <div class="btn-container">
              <button class="next">
                <span class="arrow"
                  ><svg
                    width="14"
                    height="10"
                    viewBox="0 0 14 10"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M0 4.99965C0 4.86705 0.0526784 4.73987 0.146447 4.6461C0.240215 4.55233 0.367392 4.49965 0.5 4.49965H12.293L9.146 1.35366C9.05211 1.25977 8.99937 1.13243 8.99937 0.999655C8.99937 0.866879 9.05211 0.739542 9.146 0.645655C9.23989 0.551768 9.36722 0.499023 9.5 0.499023C9.63278 0.499023 9.76011 0.551768 9.854 0.645655L13.854 4.64565C13.9006 4.6921 13.9375 4.74728 13.9627 4.80802C13.9879 4.86877 14.0009 4.93389 14.0009 4.99965C14.0009 5.06542 13.9879 5.13054 13.9627 5.19129C13.9375 5.25203 13.9006 5.30721 13.854 5.35365L9.854 9.35365C9.76011 9.44754 9.63278 9.50029 9.5 9.50029C9.36722 9.50029 9.23989 9.44754 9.146 9.35365C9.05211 9.25977 8.99937 9.13243 8.99937 8.99965C8.99937 8.86688 9.05211 8.73954 9.146 8.64565L12.293 5.49965H0.5C0.367392 5.49965 0.240215 5.44698 0.146447 5.35321C0.0526784 5.25944 0 5.13226 0 4.99965Z"
                      fill="white"></path>
                  </svg>
                </span>
              </button>
              <div class="test"></div>
            </div>
          </div>
        </div>
        <div class="block-cards">
          <div class="card">
            <div class="top">
              <div class="card-icon">
                <img src="https://via.placeholder.com/50" alt="icon" />
              </div>
              <div class="card-content">
                <p>
                  Design services are focused on transforming the essence of
                  your brand into a visually appealing and intuitively
                </p>
              </div>
            </div>
            <div class="down">
              <span>Design</span>
              <span>01</span>
            </div>
            <div class="card-bubble_1"></div>
            <div class="card-bubble_2"></div>
            <div class="card-bubble_3"></div>
          </div>
          <div class="card">
            <div class="top">
              <div class="card-icon">
                <img src="https://via.placeholder.com/50" alt="icon" />
              </div>
              <div class="card-content">
                <p>
                  Design services are focused on transforming the essence of
                  your brand into a visually appealing and intuitively
                </p>
              </div>
            </div>
            <div class="down">
              <span>Development</span>
              <span>02</span>
            </div>
            <div class="card-bubble_1"></div>
            <div class="card-bubble_2"></div>
            <div class="card-bubble_3"></div>
          </div>
          <div class="card">
            <div class="top">
              <div class="card-icon">
                <img src="https://via.placeholder.com/50" alt="icon" />
              </div>
              <div class="card-content">
                <p>
                  Design services are focused on transforming the essence of
                  your brand into a visually appealing and intuitively
                </p>
              </div>
            </div>
            <div class="down">
              <span>Performance</span>
              <span>03</span>
            </div>
            <div class="card-bubble_1"></div>
            <div class="card-bubble_2"></div>
            <div class="card-bubble_3"></div>
          </div>
          <div class="card">
            <div class="top">
              <div class="card-icon">
                <img src="https://via.placeholder.com/50" alt="icon" />
              </div>
              <div class="card-content">
                <p>
                  Design services are focused on transforming the essence of
                  your brand into a visually appealing and intuitively
                </p>
              </div>
            </div>
            <div class="down">
              <span>Compatibility</span>
              <span>04</span>
            </div>
            <div class="card-bubble_1"></div>
            <div class="card-bubble_2"></div>
            <div class="card-bubble_3"></div>
          </div>
        </div>
        <div class="block-progress">
          <div class="progress-bar">
            <div class="progress-bar-inner"></div>
          </div>
        </div>
      </div>
    </main>
  </div>

  <!-- <Loader /> -->
</Layout>
<style>
  body {
    background-color: var(--bg-color-alt);
    overflow: hidden;
  }

  main {
    min-height: 0;
  }

  .block-1 {
    min-height: calc(100vh - 56.38px);
  }

  .block-2 {
    position: relative;
    height: 80vh;
    display: flex;
    justify-content: space-around;
    padding: 0 40px;
    color: #fff;
    font-family: var(--font-Regular);
  }

  .block-2 .col {
    width: 30%;
  }

  .btn-container {
    width: max-content;
    height: max-content;
    position: relative;
  }

  .title {
    font-family: var(--font-Regular);
    font-size: 50px;
    margin-bottom: 30px;
    color: #ddd;
  }

  .block-2 .col .content {
    font-family: var(--font-Regular);
    font-size: 24px;
  }

  .btn-container a {
    text-decoration: none;
  }

  button,
  a {
    position: relative;
    /* transform: translateY(-1px); */
    border: 1px solid #ffffff;
    padding: 14px 54px;
    border-radius: 8px;
    display: flex;
    gap: 8px;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    background-color: var(--bg-color-alt);
    transition:
      transform 0.15s ease,
      background 0.15s ease,
      color 0.15s ease;
    user-select: none;
  }

  button:hover,
  a:hover {
    transform: translateY(2px);
  }

  button:active,
  a:active {
    transform: translateY(7px);
    background-color: #fff;
    color: #000;
  }
  /* 
  .arrow svg {
    transition: transform 0.3s ease;
    transform: rotate(0deg);
    transform-origin: center;
  }

  button:active .arrow svg {
    transform: rotate(45deg);
  } */

  button:active .arrow svg path,
  a:active .arrow svg path {
    fill: rgb(0, 0, 0);
  }

  .test {
    position: absolute;
    border: 1px solid #fff;
    padding: 14px 54px;
    width: 100%;
    bottom: -6px;
    border-radius: 8px;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    background-color: var(--bg-color-alt);
    z-index: -1;
    pointer-events: none;
  }

  .block-3 {
    /* background-color: #fff; */
    position: relative;
    height: 80vh;
    /* display: flex; */
    /* justify-content: space-around; */
    /* padding: 0 40px; */
    color: #fff;
    font-family: var(--font-Regular);
    overflow: hidden;
  }

  /* body::-webkit-scrollbar {
    width: 0;
    background: transparent;
  } */

  .hero {
    position: absolute;
    top: calc(50% - 66.38px);
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white);
    user-select: none;
    -webkit-user-select: none;
  }

  .hero-intro {
    text-align: center;
    font-size: clamp(13px, 2vw, 16px);
    font-family: var(--font-Light);
    color: #808080;
  }

  .hero-main {
    position: relative;
    font-size: clamp(60px, 15vw, 200px);
    background: rgb(255, 255, 255);
    background: radial-gradient(
      circle,
      rgba(255, 255, 255, 0.9) 0%,
      rgba(153, 153, 153, 0.7) 77%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: var(--font-Exp-Black);
    text-transform: uppercase;
  }

  .hero-sub {
    text-align: end;
    text-transform: uppercase;
    font-size: clamp(13px, 2vw, 16px);
    font-family: var(--font-Light);
    opacity: 0.5;
    color: var(--white);
  }

  main {
    height: 100%;
  }

  .blend_1 {
    position: absolute;
    top: -150px;
    left: -120px;
    animation: bounce 2s infinite ease-in-out;
  }

  .blend_2 {
    position: absolute;
    bottom: 150px;
    right: 120px;
    animation: bounce 2s infinite ease-in-out 0.3s;
  }

  .blend_3 {
    position: absolute;
    bottom: 150px;
    left: 120px;
    animation: bounce 2s infinite ease-in-out 0.7s;
  }

  .blend_4 {
    position: absolute;
    left: 0;
    bottom: 50px;
    animation: bounce 2s infinite ease-in-out 0.9s;
    z-index: -2;
  }

  .blend_5 {
    position: absolute;
    right: 0;
    bottom: 140px;
    animation: bounce 2.3s infinite ease-in-out 1s;
    z-index: -2;
  }

  .block-header {
    display: flex;
    justify-content: space-between;
    padding-inline: 40px;
  }

  .block-0 {
    display: flex;
    gap: 60px;
  }

  .block-cards {
    /* height: 100%; */
    width: 100%;
    display: flex;
    gap: 32px;
    align-items: center;
    overflow-y: hidden;
    overflow-x: scroll;
    padding-inline: 40px;
  }

  .block-cards::-webkit-scrollbar {
    display: none;
    width: 0;
  }

  .card {
    position: relative;
    min-height: 280px;
    min-width: 540px;
    border-radius: 8px;
    padding: 10px;
    background-color: #101019;
    border: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    overflow: hidden;
    /* cursor: grab; */
  }

  .card-icon {
    width: 68px;
    height: 68px;
  }
  .card-icon img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  .card-content {
    width: 60%;
    font-family: var(--font-Light);
    font-size: 18px;
  }
  .top {
    display: flex;
    justify-content: space-between;
  }
  .down {
    display: flex;
    justify-content: space-between;
    font-family: var(--font-Regular);
  }

  .down span {
    font-size: 40px;
    color: #d5d5d5;
    position: relative;
    z-index: 1;
  }

  .down span:last-child {
    color: #7f7f7f;
  }

  .card-bubble_1,
  .card-bubble_2,
  .card-bubble_3 {
    pointer-events: none;
  }

  .card-bubble_1 {
    position: absolute;
    left: 180px;
    height: 64px;
    width: 64px;
    border-radius: 50%;
    bottom: -9px;
    background: rgb(174, 140, 209);
    background: linear-gradient(
      180deg,
      rgba(174, 140, 209, 1) 0%,
      rgba(83, 30, 134, 1) 100%
    );
    filter: blur(25px);
  }
  .card-bubble_2 {
    position: absolute;
    left: 240px;
    height: 168px;
    width: 168px;
    border-radius: 50%;
    bottom: -70px;
    background: rgb(195, 74, 57);
    background: linear-gradient(
      180deg,
      rgba(195, 74, 57, 1) 0%,
      rgba(83, 30, 134, 1) 100%
    );
    filter: blur(25px);
  }
  .card-bubble_3 {
    position: absolute;
    left: 434px;
    height: 64px;
    width: 112px;
    border-radius: 50%;
    bottom: -18px;
    background: rgb(49, 114, 134);
    background: linear-gradient(
      180deg,
      rgba(49, 114, 134, 1) 0%,
      rgba(83, 30, 134, 1) 100%
    );
    filter: blur(25px);
  }

  .block-progress {
    margin-top: 45px;
    padding: 20px;
  }
  .progress-bar {
    height: 1px;
    border-radius: 10px;
    width: 60%;
    margin-inline: auto;
    background-color: #626262;
    margin-bottom: 10px;
  }
  .progress-bar-inner {
    height: 1px;
    border-radius: 10px;
    background: rgb(154, 59, 77);
    background: linear-gradient(
      90deg,
      rgba(154, 59, 77, 1) 0%,
      rgba(207, 144, 165, 1) 100%
    );
    width: 65%;
  }

  @media screen and (max-width: 768px) {
    .blend_1,
    .blend_2,
    .blend_3,
    .blend_4,
    .blend_5 {
      display: none;
    }
  }

  @keyframes bounce {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(10px);
    }
  }
</style>

<script>
  import $ from "jquery";
  import { gsap } from "gsap";
  // import Lenis from "lenis";

  // const lenis = new Lenis();

  // lenis.on("scroll", (e) => {
  //   console.log(e);
  // });

  // function raf(time) {
  //   lenis.raf(time);
  //   requestAnimationFrame(raf);
  // }

  // requestAnimationFrame(raf);

  // function disableLenis() {
  //   lenis.stop();
  // }

  // function enableLenis() {
  //   lenis.start();
  // }

  // $(".hamburger-menu").on("click", function () {
  //   $(this).hasClass("active") ? enableLenis() : disableLenis();
  // });

  function scrollCarousel(direction: string, carousel: any) {
    let currentPosition = carousel.scrollLeft();
    let scrollAmount = {
      prev: -343,
      next: 343,
    };

    gsap.to(carousel, {
      scrollLeft: currentPosition + scrollAmount[direction],
      ease: "power1.inOut",
    });
  }

  $(".prev, .next").on("click", function () {
    const carousel = $(".block-cards");
    const direction = $(this).hasClass("prev") ? "prev" : "next";
    scrollCarousel(direction, carousel);
  });
</script>
