---
import Layout from "../layouts/Layout.astro";
import Loader from "../components/Loader.astro";
import Loader2 from "../components/Loader2.astro";
import { DreamyGradient } from "@muridot0/dreamy-gradients";
---

<Layout
  title="Hello ðŸ‘‹ðŸ¾"
  description="Dive into Creativity ðŸŒŠ: Immerse yourself in my projects and artworks."
>
  <Loader2 />
  <div class="container">
    <main>
      <DreamyGradient
        size={{ height: "9rem", width: "9rem" }}
        color={"linear-gradient(#FF512F, #DD2476)"}
        position={{ left: "200px", top: "90px" }}
        blur={6}
        client:only="react"
      />

      <div class="hero">
        <div class="hero-intro">
          <span>
            <img src="Star.svg" alt="" srcset="" />
          </span>
          <span>introducing</span>
          <span>
            <img src="Star.svg" alt="" srcset="" />
          </span>
        </div>
        <div class="hero-main">
          <div class="blend_1">
            <img src="blend_1.svg" alt="" srcset="" />
          </div>
          andrea
        </div>
        <div class="hero-sub">software developer and ui/ux designer</div>
      </div>

      <div class="blend_2">
        <img src="blend_2.svg" alt="" srcset="" />
      </div>
      <div class="blend_3">
        <img src="blend_3.svg" alt="" srcset="" />
      </div>
    </main>
  </div>
  <!-- <Loader /> -->
</Layout>

<style>
  body {
    background-color: var(--bg-color-alt);
  }

  .hero {
    position: absolute;
    top: calc(50% - 66.38px);
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white);
    user-select: none;
    -webkit-user-select: none;
  }

  .hero-intro {
    text-align: center;
    font-size: clamp(13px, 2vw, 16px);
    font-family: var(--font-Light);
    color: #808080;
  }

  .hero-main {
    position: relative;
    font-size: clamp(60px, 15vw, 200px);
    background: rgb(255, 255, 255);
    background: radial-gradient(
      circle,
      rgba(255, 255, 255, 0.9) 0%,
      rgba(153, 153, 153, 0.7) 77%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: var(--font-Exp-Black);
    text-transform: uppercase;
  }

  .hero-sub {
    text-align: end;
    text-transform: uppercase;
    font-size: clamp(13px, 2vw, 16px);
    font-family: var(--font-Light);
    opacity: 0.5;
    color: var(--white);
  }

  main {
    height: 100%;
  }

  .blend_1 {
    position: absolute;
    top: -150px;
    left: -120px;
    animation: bounce 2s infinite ease-in-out;
  }

  .blend_2 {
    position: absolute;
    bottom: 150px;
    right: 120px;
    animation: bounce 2s infinite ease-in-out 0.3s;
  }
  .blend_3 {
    position: absolute;
    bottom: 150px;
    left: 120px;
    animation: bounce 2s infinite ease-in-out 0.7s;
  }

  @media screen and (max-width: 768px) {
    .blend_1,
    .blend_2,
    .blend_3 {
      display: none;
    }
  }

  @keyframes bounce {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(10px);
    }
  }
</style>
