---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1 class="counter">0</h1>

  <div class="overlay-loader">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>

  <div class="container">
    <main>
      <div class="glassCard"></div>
      <div id="circle" class="circle"></div>
    </main>
  </div>
</Layout>

<style>
  main {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .counter {
    position: fixed;
    right: 40px;
    bottom: 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-family: "Jolly Lodger";
    font-size: 14vw;
    z-index: 100000;
    transition: 0.3s ease;
  }

  .circle {
    position: absolute;
    z-index: -2;
    width: 600px;
    height: 589px;
    border-radius: 50%;
    background-color: var(--base-color);
    transition: background 2s ease;
  }

  .glassCard {
    z-index: -1;
    width: 420px;
    height: 660px;
    background: rgba(255, 255, 255, 0.2);
    stroke-width: 3px;
    stroke: #fff;
    backdrop-filter: blur(15px);
    border-radius: 2rem;
  }

  .overlay-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    display: flex;
  }

  .bar {
    width: 10vw;
    height: 105vh;
    /* background-color: #8aaae5; */
    background-color: #dadada;
  }

  @media only screen and (max-width: 768px) {
    .circle {
      width: 480px;
      height: 480px;
    }

    .glassCard {
      height: 600px;
      width: 400px;
    }
    .counter {
      right: 20px;
    }
  }
  @media only screen and (max-width: 480px) {
    .circle {
      width: 280px;
      height: 280px;
    }
    .glassCard {
      height: 400px;
      width: 220px;
      border-radius: 12px;
    }
  }
</style>

<script>
  import { gsap } from "gsap";

  gsap.to(".counter", {
    duration: 0.25,
    delay: 2.5,
    opacity: 0,
  });

  gsap.to(".bar", {
    duration: 1.25,
    delay: 3,
    height: 0,
    stagger: {
      amount: 0.5,
    },
    ease: "power4.inOut",
    onComplete: () => {
      gsap.to(".overlay-loader", {
        display: "none",
      });
    },
  });

  const colors = [
    "#8aaae5",
    "#f77126",
    "#26f7ac",
    "#26c5f7",
    "#d439d7",
    "#e04c4c",
  ];

  const changeColor = (index) => {
    root.style.setProperty("--base-color", colors[index]);
    logoSvg.setAttribute("fill", colors[index]);

    index = (index + 1) % colors.length;

    setTimeout(() => {
      changeColor(index);
    }, 5000);
  };

  const startLoader = () => {
    let counterElement = document.querySelector(".counter");
    let currentValue = 0;

    const updateCounter = () => {
      if (currentValue === 100) {
        return;
      }

      currentValue += Math.floor(Math.random() * 10) + 1;

      if (currentValue > 100) {
        currentValue = 100;
      }

      counterElement.textContent = `${currentValue}`;

      let delay = Math.floor(Math.random() * 200) + 50;

      setTimeout(updateCounter, delay);
    };
    updateCounter();
  };
  startLoader();

  let root = document.documentElement;
  let logoSvg = document.querySelector(".logo svg path");
  changeColor(0);
</script>
