---
import Layout from "../layouts/Layout.astro";
import Loader from "../components/Loader.astro";
import Loader2 from "../components/Loader2.astro";
---

<Layout title="Hello ðŸ‘‹ðŸ¾">
  <Loader2 />
  <div class="container">
    <main>
      <!-- <span class="sub">introducing</span>
      <div class="hero">andrea</div>
      <div class="desc">SOFTWARE DEVELOPER AND UI/UX DESIGNER</div> -->

      <div class="hero">
        <div class="hero-intro">
          <span>
            <img src="Star.svg" alt="" srcset="">
          </span>
          <span>introducing</span>
          <span>
            <img src="Star.svg" alt="" srcset="">
          </span>
        </div>
        <div class="hero-main">andrea</div>
        <div class="hero-sub">software developer and ui/ux designer</div>
      </div>
    </main>
  </div>
  <!-- <Loader /> -->
</Layout>

<style>
  /* .hero {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    font-size: clamp(60px, 15vw, 200px);
    background: rgb(255, 255, 255);
    background: radial-gradient(
      circle,
      rgba(255, 255, 255, 0.9) 0%,
      rgba(153, 153, 153, 0.7) 77%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: -1;
    font-family: var(--font-Exp-Black);
    text-transform: uppercase;
  } */

  .hero {
    position: absolute;
    top: calc(50% - 66.38px);
    left: 50%;
    transform: translate(-50%,-50%);
    color: var(--white);
    z-index: -1;
  }

  .hero-intro {
    text-align: center;
    font-size: clamp(13px, 2vw, 18px);
    font-family: var(--font-Regular);
    opacity: 0.8; */
    color: var(--white);
  }
  .hero-main {
    font-size: clamp(60px, 15vw, 200px);
    background: rgb(255, 255, 255);
    background: radial-gradient(
      circle,
      rgba(255, 255, 255, 0.9) 0%,
      rgba(153, 153, 153, 0.7) 77%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: var(--font-Exp-Black);
    text-transform: uppercase;
  }
  .hero-sub {
    text-align: end;
    text-transform: uppercase;
    font-size: clamp(13px, 2vw, 16px);
    font-family: var(--font-Light);
    opacity: .5;
    color: var(--white);
  }

  /* .desc {
    position: absolute;
    top: 50%;s
    font-size: 18px;
    font-family: var(--font-Regular);
    left: 55%;
    opacity: 0.8;
    margin-top: 8px;
    color: var(--white);
    z-index: -1;
  }

  .sub {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    font-family: var(--font-Light);
    opacity: 0.5;
    color: var(--white);
    z-index: -1;
  } */

  /* .svg {
    position: absolute;
    top: 25%;
    left: 15%;
    z-index: -1;
    max-width: 50px;
  }
  .svg img {
    width: 100%;
  } */

  main {
    min-height: calc(100vh - 78.88px);
    height: 100%;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
  }
</style>
