---
import Layout from "../layouts/Layout.astro";
import Loader from "../components/Loader.astro";
---

<Layout title="Home">
  <div class="container">
    <main>
      <div class="glassCard"></div>
      <div id="circle" class="circle"></div>
    </main>
  </div>
  <Loader />
</Layout>

<style>
  main {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .circle {
    position: absolute;
    z-index: -2;
    width: 600px;
    height: 589px;
    border-radius: 50%;
    background-color: var(--base-color);
    transition: background 2s ease;
  }

  .glassCard {
    z-index: -1;
    width: 420px;
    height: 660px;
    background: rgba(255, 255, 255, 0.2);
    /* background: rgba(0, 0, 0, 0.2);  when on light theme*/
    stroke-width: 3px;
    stroke: #fff;
    backdrop-filter: blur(15px);
    border-radius: 2rem;
  }

  @media only screen and (max-width: 768px) {
    .circle {
      width: 480px;
      height: 480px;
    }

    .glassCard {
      height: 600px;
      width: 400px;
    }
  }
  @media only screen and (max-width: 480px) {
    .circle {
      width: 280px;
      height: 280px;
    }

    .glassCard {
      height: 400px;
      width: 220px;
      border-radius: 12px;
    }
  }
</style>

<script>
  const changeColor = (index) => {
    root.style.setProperty("--base-color", colors[index]);
    logoSvg.setAttribute("fill", colors[index]);

    index = (index + 1) % colors.length;

    setTimeout(() => {
      changeColor(index);
    }, 5000);
  };

  const colors = [
    "#8aaae5",
    "#f77126",
    "#26f7ac",
    "#26c5f7",
    "#d439d7",
    "#e04c4c",
  ];

  let root = document.documentElement;
  let logoSvg = document.querySelector(".logo svg path");

  changeColor(0);
</script>
