---
// import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="container">
    <main>
      <div class="glassCard"></div>

      <div id="circle" class="circle"></div>
    </main>
  </div>
  <style>
    /* .container {
      width: 80%;
      margin: 0 auto;
    }
    @media screen and (max-width: 530px) {
      .container {
        width: 100%;
      }
    } */
    main {
      min-height: 80vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .circle {
      position: absolute;
      width: 600px;
      height: 589px;
      border-radius: 50%;
      background-color: red;
    }

    .glassCard {
      z-index: 1;
      width: 420px;
      height: 660px;
      background: rgba(255, 255, 255, 0.2);
      /* fill: radial-gradient(
        106.07% 139.76% at -2.28% 1.21%,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(255, 255, 255, 0) 100%
      ); */
      stroke-width: 3px;
      stroke: #fff;
      backdrop-filter: blur(21px);
      border-radius: 2rem;
    }
  </style>
</Layout>
