---
// import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="container">
    <main>
      <div class="glassCard"></div>

      <div id="circle" class="circle"></div>
    </main>
  </div>
</Layout>

<style>
  main {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .circle {
    position: absolute;
    width: 600px;
    height: 589px;
    border-radius: 50%;
    background-color: var(--base-color);
    transition: all 2s ease;
  }

  .glassCard {
    z-index: 1;
    width: 420px;
    height: 660px;
    background: rgba(255, 255, 255, 0.2);
    stroke-width: 3px;
    stroke: #fff;
    backdrop-filter: blur(15px);
    border-radius: 2rem;
  }
</style>
<script>
  const colors = ["#F77126", "#26F7AC", "#26C5F7", "#D439D7", "#fff"];
  const root = document.documentElement;
  const logoSvg = document.querySelector(".logo svg path");

  function changeColor(index) {
    setTimeout(() => {
      root.style.setProperty("--base-color", colors[index]);
      logoSvg.setAttribute("fill", colors[index]);
      changeColor((index + 1) % colors.length);
    }, 3000);
  }

  changeColor(0);
</script>
