---
// import Loader2 from "../components/Loader2.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Me">
  <div class="container">
    <main>
      <div class="me">
        The name's Andrea, pleasure meeting you
      </div>
    </main>
  </div>
</Layout>

<style>
  main {
    color: #fff;
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: :red;
  }

  .me {
    font-family: var(--font-Regular);
    font-size: 40px;
  }
</style>

