---
// import Loader2 from "../components/Loader2.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Me">
  <div class="container">
    <main>
      <div class="me">
        <div class="col-2">
          <ul>
            <li class="active"><a>My Story</a></li>
            <li><a>Experience</a></li>
            <li><a>Resume</a></li>
            <li><a>Hobbies</a></li>
          </ul>
        </div>
        <div class="col-8">
          Greetings, everyone! Allow me the honor of introducing myself. My name
          is Andrea, and it is a true pleasure to meet all of you!HI,, Lorem
          ipsum dolor sit amet, consectetur adipisicing elit. Ut debitis amet
          explicabo ipsum voluptatem tempora, placeat ab quis quia nostrum vero
          ipsam, totam exercitationem. Aliquam magni ullam impedit dolorem
          autem? Perspiciatis est ex ratione incidunt laboriosam, commodi esse!
          Possimus, distinctio quam debitis repellat dignissimos error aliquid
          deleniti repudiandae incidunt perferendis amet omnis, natus ipsam,
          unde magni consequuntur deserunt enim provident! Dolorum quis ab neque
          quaerat, rerum doloribus laborum quae recusandae. Fugiat neque modi,
          itaque ipsum fuga nam ullam quasi perspiciatis magnam distinctio
          doloribus molestiae aliquam consectetur, cupiditate explicabo
          dignissimos temporibus. Eaque, hic nostrum quas perspiciatis rem sunt
          quam asperiores quis tempora numquam commodi sit illo veritatis
          exercitationem suscipit cumque earum similique.<br /><br /> Ex in quam,
          maiores ut natus aliquam aspernatur saepe! Molestiae, odit sequi vero,
          ratione laboriosam magnam eaque est voluptatem consequatur perferendis
          ex, exercitationem illo natus eligendi sint tempora hic non enim maxime.
          Doloremque minus eligendi ex facere. Veniam, officia. Eligendi maxime aspernatur
          recusandae voluptatibus fuga excepturi perferendis facere, officiis sed
          quidem est voluptates ipsam? Architecto perferendis voluptatem maiores
          facere porro, sequi totam esse! Odio corporis dolore sed pariatur maxime!
          Architecto suscipit quas voluptate quibusdam perspiciatis quia harum animi
          at quae officia, consectetur incidunt optio dolorem aut fugiat minima?
          Culpa esse quod inventore magni numquam officia odit veritatis, autem exercitationem.
          Magnam id impedit natus quibusdam libero quisquam animi cumque ex, soluta
          esse eligendi eius fugiat architecto illo corporis voluptates suscipit
          atque labore error aliquid nihil blanditiis quis quidem? Alias, deleniti!
          Quia consequatur, saepe quos eaque ipsum maxime et commodi inventore aspernatur
          eos earum ea fugit ad quisquam delectus accusantium molestias asperiores
          deserunt voluptatem sint reprehenderit debitis dolore labore. Amet, ratione.
          Minima maxime illo ea ipsa at distinctio corporis dolores cumque architecto,
          nisi illum temporibus vitae voluptate sequi quasi quisquam officia pariatur
          maiores sint voluptatibus cupiditate debitis nostrum accusamus! Aliquid,
          eveniet. Ad alias fugiat vitae sunt reiciendis! Blanditiis sit ea, facilis
          placeat in harum nihil! Sapiente nulla officia ducimus eveniet iusto. Numquam
          natus voluptatum placeat maxime nostrum esse quia vitae similique? At quisquam
          dolore voluptatem inventore ipsum consequatur neque? Quia cupiditate, dolor
          dolorum eveniet autem aliquam distinctio? Perferendis tempora, quod deleniti
          mollitia enim necessitatibus ipsum, itaque impedit cupiditate officiis
          perspiciatis magni. Cumque esse architecto repellat illo sit assumenda
          provident, quaerat molestias error quam odio non laborum labore ducimus.<br
          /><br />
          Molestiae, nihil molestias voluptatem similique tempore eaque vitae modi,
          laborum sint non inventore. Ab, ad mollitia excepturi perferendis cumque
          deleniti soluta aspernatur, itaque tenetur voluptatibus dolores, esse molestias
          magni ipsum nesciunt quidem. Fugit voluptate earum veniam magni voluptatibus
          totam odio, molestias distinctio. Cupiditate! Dolores ratione similique
          architecto voluptates enim, harum adipisci, dicta, assumenda corporis at
          temporibus ipsam. Sapiente nam vel sunt aliquam possimus eius vero nemo
          tenetur dicta, earum, quos, ratione ipsa dolorem. Fugit explicabo nostrum
          error, cum similique quos ducimus expedita necessitatibus dolorem, quidem
          quasi distinctio, rem iure minus amet mollitia aut ex tenetur sunt officia
          aspernatur libero eaque culpa? Esse, natus. Quaerat sint, voluptatibus,
          quis veritatis tenetur totam, laudantium alias ducimus molestiae minus
          qui ullam facilis nulla necessitatibus amet atque excepturi et in commodi
          omnis dolor. Veritatis unde a eveniet ratione. Illo tempore nobis libero
          iste quidem, adipisci, reprehenderit voluptas soluta recusandae beatae
          praesentium animi exercitationem, nesciunt voluptatum atque provident necessitatibus
          dolorem eos velit! Laudantium saepe suscipit repellat minus? Esse, at.
          Similique, nesciunt. Soluta magnam fugit nesciunt fuga consequatur sunt
          ipsum beatae voluptate debitis, neque deserunt, sapiente veritatis asperiores
          alias! Deleniti corporis, harum atque dolores necessitatibus voluptate
          quasi tenetur culpa aliquam? Molestias velit deserunt placeat quod repellat
          dolore ex, voluptate nemo animi adipisci nostrum id enim illo alias dolores
          sapiente sint odio provident reiciendis deleniti minima itaque! Adipisci
          quasi ullam quam! Reiciendis quos nesciunt officia placeat, iste nisi quisquam
          iusto quaerat similique! Quasi totam dolorum quam assumenda, eveniet necessitatibus
          impedit. Adipisci, natus illum autem repudiandae quasi rem quis quisquam
          eveniet architecto! Architecto libero ad ex officia obcaecati sint facere?
          Incidunt cumque est eum ex at deleniti, eius placeat amet unde, harum possimus.
          Dolore debitis eveniet quis unde. Ex, iusto? Ipsa, nemo. Libero eveniet
          reprehenderit tempora maiores amet enim quibusdam illum totam cum nostrum
          est suscipit ducimus explicabo officiis placeat, nam, veritatis ex aut.
          Expedita quas qui nostrum corrupti, doloribus quod. Vero. Voluptatum eligendi
          quaerat soluta fuga facilis nemo? Aliquid, soluta libero. Quas optio ipsum,
          sit culpa, molestias ad a laborum nobis quis molestiae amet non itaque,
          nisi quos debitis iure sequi. Quod dolorum tempora et odio officia culpa
          nesciunt! Vero nobis veritatis rerum dolores atque, vel, voluptatem consectetur
          quam non sapiente quia? Officia maiores ratione quidem doloribus repellendus
          tempore nobis praesentium? Quas laudantium quaerat minus, quasi eveniet
          quo? Deleniti illo laboriosam ex perferendis minima, nihil nam modi quasi
          aspernatur, ab itaque facilis repellendus? Molestias quas quia earum, corrupti
          repudiandae voluptate nisi? Laboriosam labore fugit consequuntur voluptatum
          molestiae unde corporis nihil repellendus magnam vitae, quo architecto,
          placeat aliquid veritatis esse fuga. Esse, minus praesentium. Minima accusamus
          qui voluptatum, dicta reiciendis magni saepe. Inventore magni magnam pariatur
          illum perferendis maxime aliquam odio aliquid, corrupti expedita quos nihil
          veniam temporibus eveniet velit fuga voluptatem exercitationem accusantium
          dicta laboriosam alias accusamus consequuntur deserunt. Minima, necessitatibus.
          Sint molestias aliquam nostrum esse exercitationem officiis in corrupti
          porro, sapiente dolore laborum qui dolor veniam? Quidem, tenetur quia repellendus
          nostrum esse, soluta itaque assumenda molestias, repellat officia libero
          ipsum. Ratione expedita, deleniti minus magni officia harum provident,
          fugiat modi eaque id nobis necessitatibus atque laborum voluptatibus doloribus,
          sunt reprehenderit voluptatem! Itaque molestiae ut consequatur hic omnis
          eius exercitationem quidem. Ipsa earum sed animi debitis omnis dolorem
          at similique corporis vero eos. Sit, alias incidunt! Odio laborum, beatae,
          corporis facere sapiente dolorem nulla omnis nobis repellat eligendi sequi
          aliquam soluta. Natus iusto, magni suscipit unde consequuntur iste pariatur
          earum qui, vero, ab facere dignissimos corporis velit amet similique necessitatibus
          sequi doloribus autem ex. Totam distinctio, cumque optio perspiciatis blanditiis
          recusandae! Corporis provident cupiditate similique odio a quibusdam deserunt,
          expedita, eaque magni eos iste voluptas! Enim porro in, eaque sunt, delectus
          cum odit libero modi sequi molestiae rerum corrupti itaque quidem. Doloremque
          beatae consequuntur, maiores quis aperiam sit similique cupiditate, quae
          obcaecati voluptatibus maxime voluptatem error veritatis quasi culpa
        </div>
      </div>
    </main>
  </div>
</Layout>

<style>
  body {
    background-color: #0e100f;
    scroll-behavior: smooth;
  }
  main {
    color: #fff;
    min-height: calc(100vh - 88.88px);
    height: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
  }

  ul {
    list-style: none;
    font-size: 48px;
    font-family: var(--font-Bold);
    position: sticky;
    top: 2px;
    z-index: -1;
  }

  li {
    margin-bottom: 40px;
    color: rgb(169, 169, 169);
  }
  li.active {
    color: rgba(255, 255, 255, 1);
  }

  li a {
    cursor: pointer;
    user-select: none;
  }

  .me {
    font-family: var(--font-Regular);
    font-size: 32px;
    /* width: 90vw; */
    padding-inline: 30px;
    margin-block: 65px 35px;
    text-align: justify;
    display: flex;
    gap: 50px;
  }

  .col-2 {
  }
  .col-8 {
    font-size: 18px;
    font-family: var(--font-Regular);
  }
</style>
