---
// import Loader2 from "../components/Loader2.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Me"
  description="Welcome to my domain. 🌟 Explore the essence of Andrea, where curiosity and creativity collide."
>
  <div class="container">
    <main>
      <div class="me">
        <div class="col-2">
          <ul class="sub-pages">
            <li>
              <a id="My_story" class="sub-link active" href="#">My Story</a>
            </li>
            <li>
              <a id="Experience" class="sub-link" href="#">Experience</a>
            </li>
            <li>
              <a id="Resume" class="sub-link" href="#">Resume</a>
            </li>
            <li>
              <a id="Hobbies" class="sub-link" href="#">Hobbies</a>
            </li>
          </ul>
        </div>
        <div class="col-8">
          <div class="block" data-id="My_story">
            Hello, everyone! Welcome to my page. I'm Andrea, and it's an
            absolute delight to have you here! <br /><br /> Lorem ipsum dolor sit
            amet, consectetur adipisicing elit. Ut debitis amet explicabo ipsum voluptatem
            tempora, placeat ab quis quia nostrum vero ipsam, totam exercitationem.
            Aliquam magni ullam impedit dolorem autem? Perspiciatis est ex ratione
            incidunt laboriosam, commodi esse! Possimus, distinctio quam debitis
            repellat dignissimos error aliquid deleniti repudiandae incidunt perferendis
            amet omnis, natus ipsam, unde magni consequuntur deserunt enim provident!
            Dolorum quis ab neque quaerat, rerum doloribus laborum quae recusandae.
            Fugiat neque modi, itaque ipsum fuga nam ullam quasi perspiciatis magnam
            distinctio doloribus molestiae aliquam consectetur, cupiditate explicabo
            dignissimos temporibus. Eaque, hic nostrum quas perspiciatis rem sunt
            quam asperiores quis tempora numquam commodi sit illo veritatis exercitationem
            suscipit cumque earum similique.<br /><br /> Ex in quam, maiores ut natus
            aliquam aspernatur saepe! Molestiae, odit sequi vero, ratione laboriosam
            magnam eaque est voluptatem consequatur perferendis ex, exercitationem
            illo natus eligendi sint tempora hic non enim maxime. Doloremque minus
            eligendi ex facere. Veniam, officia. Eligendi maxime aspernatur recusandae
            voluptatibus fuga excepturi perferendis facere, officiis sed quidem est
            voluptates ipsam? Architecto perferendis voluptatem maiores facere porro,
            sequi totam esse! Odio corporis dolore sed pariatur maxime! Architecto
            suscipit quas voluptate quibusdam perspiciatis quia harum animi at quae
            officia, consectetur incidunt optio dolorem aut fugiat minima? Culpa
            esse quod inventore magni numquam officia odit veritatis, autem exercitationem.
            Magnam id impedit natus quibusdam libero quisquam animi cumque ex, soluta
            esse eligendi eius fugiat architecto illo corporis voluptates suscipit
            atque labore error aliquid nihil blanditiis quis quidem? Alias, deleniti!
            Quia consequatur, saepe quos eaque ipsum maxime et commodi inventore
            aspernatur eos earum ea fugit ad quisquam delectus accusantium molestias
            asperiores deserunt voluptatem sint reprehenderit debitis dolore labore.
            Amet, ratione. Minima maxime illo ea ipsa at distinctio corporis dolores
            cumque architecto, nisi illum temporibus vitae voluptate sequi quasi
            quisquam officia pariatur maiores sint voluptatibus cupiditate debitis
            nostrum accusamus! Aliquid, eveniet. Ad alias fugiat vitae sunt reiciendis!
            Blanditiis sit ea, facilis placeat in harum nihil! Sapiente nulla officia
            ducimus eveniet iusto. Numquam natus voluptatum placeat maxime nostrum
            esse quia vitae similique? At quisquam dolore voluptatem inventore ipsum
            consequatur neque? Quia cupiditate, dolor dolorum eveniet autem aliquam
            distinctio? Perferendis tempora, quod deleniti mollitia enim necessitatibus
            ipsum, itaque impedit cupiditate officiis perspiciatis magni. Cumque
            esse architecto repellat illo sit assumenda provident, quaerat molestias
            error quam odio non laborum labore ducimus.<br /><br />
            Molestiae, nihil molestias voluptatem similique tempore eaque vitae modi,
            laborum sint non inventore. Ab, ad mollitia excepturi perferendis cumque
            deleniti soluta aspernatur, itaque tenetur voluptatibus dolores, esse
            molestias magni ipsum nesciunt quidem. Fugit voluptate earum veniam magni
            voluptatibus totam odio, molestias distinctio. Cupiditate! Dolores ratione
            similique architecto voluptates enim, harum adipisci, dicta, assumenda
            corporis at temporibus ipsam. Sapiente nam vel sunt aliquam possimus
            eius vero nemo tenetur dicta, earum, quos, ratione ipsa dolorem. Fugit
            explicabo nostrum error, cum similique quos ducimus expedita necessitatibus
            dolorem, quidem quasi distinctio, rem iure minus amet mollitia aut ex
            tenetur sunt officia aspernatur libero eaque culpa? Esse, natus. Quaerat
            sint, voluptatibus, quis veritatis tenetur totam, laudantium alias ducimus
            molestiae minus qui ullam facilis nulla necessitatibus amet atque excepturi
            et in commodi omnis dolor. Veritatis unde a eveniet ratione. Illo tempore
            nobis libero iste quidem, adipisci, reprehenderit voluptas soluta recusandae
            beatae praesentium animi exercitationem, nesciunt voluptatum atque provident
            necessitatibus dolorem eos velit! Laudantium saepe suscipit repellat
            minus? Esse, at. Similique, nesciunt. Soluta magnam fugit nesciunt fuga
            consequatur sunt ipsum beatae voluptate debitis, neque deserunt, sapiente
            veritatis asperiores alias! Deleniti corporis, harum atque dolores necessitatibus
            voluptate quasi tenetur culpa aliquam? Molestias velit deserunt placeat
            quod repellat dolore ex, voluptate nemo animi adipisci nostrum id enim
            illo alias dolores sapiente sint odio provident reiciendis deleniti minima
            itaque! Adipisci quasi ullam quam! Reiciendis quos nesciunt officia placeat,
            iste nisi quisquam iusto quaerat similique! Quasi totam dolorum quam
            assumenda, eveniet necessitatibus impedit. Adipisci, natus illum autem
            repudiandae quasi rem quis quisquam eveniet architecto!
          </div>
          <div class="block" data-id="Experience">
            Experience <br /><br />
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae iste
            perspiciatis nihil magni officia quibusdam, quisquam porro illo tenetur
            labore magnam nostrum, cum nemo molestiae quos, nulla qui est quae. Provident
            praesentium nam harum pariatur eius magnam laboriosam corrupti, dolorum
            odit dolore laudantium, accusantium error consequatur adipisci repudiandae
            quam distinctio debitis eligendi, nostrum recusandae id totam tempora
            nemo? Eum, adipisci. Reiciendis, tempore odit! Vero deserunt quis a,
            itaque iste dolorum quo. Adipisci earum obcaecati aliquid perferendis
            recusandae vel odit dolore. Neque ex perspiciatis perferendis voluptatibus
            in iusto itaque eius modi! Blanditiis, saepe fugit. Dolorum dolore soluta
            error quaerat voluptas ipsum assumenda alias, earum laudantium deserunt
            veritatis. Minus iste nam beatae, aut quam quia ullam cupiditate enim
            nihil sed voluptas delectus. Quaerat, facilis! Iusto eos laudantium aliquam,
            autem dolores unde, labore nulla omnis, quia ex dolore nobis quibusdam
            voluptatum eligendi! Doloremque facere quibusdam, fugiat omnis labore
            quod qui debitis accusamus error? Accusamus magni accusantium dignissimos
            laborum, in ab nulla vitae sunt animi ipsum sequi assumenda praesentium
            nostrum illum ea pariatur blanditiis! Culpa molestias at veniam laudantium
            nesciunt praesentium, deleniti inventore ullam! Quae, modi deserunt doloribus
            qui quibusdam asperiores autem iure rerum velit, excepturi aut molestiae
            pariatur quaerat aperiam? Eligendi nam dolorem similique, officia dolore
            ullam illum ratione quasi quidem eaque possimus. Laborum deleniti unde
            rem quae! Nisi tempore rem maiores ipsa voluptatibus accusantium magnam
            fugit placeat consequatur enim? Dolores vero veniam reprehenderit dolorum
            pariatur ratione animi rem, velit fugit voluptatibus autem. Repellat
            modi fuga accusantium, adipisci deleniti maiores doloremque iusto corporis.
            <br /><br />
            Quam totam sed reiciendis cumque quod voluptatum aut laudantium delectus
            soluta impedit, animi voluptate! Saepe ipsa reprehenderit iusto officiis
            quas? Hic odio optio consequuntur odit at accusantium recusandae ab voluptatum
            sint. Sit quod non omnis facilis unde accusamus, esse autem dolore beatae
            ex commodi, rem eveniet maxime tenetur rerum reiciendis? Omnis rem deserunt,
            ullam, repellat unde tempore excepturi repellendus fugit maiores, accusantium
            adipisci cupiditate. Et obcaecati fugit natus quas dignissimos. Adipisci
            odio eaque architecto fugiat nulla laboriosam ex aperiam sit. Fugit dolor
            hic earum voluptatem assumenda. Veritatis, voluptate nihil deserunt dicta
            earum tenetur quos non quaerat voluptatum aut explicabo dignissimos eius,
            dolor cum impedit obcaecati molestiae ipsum quas animi tempore. Ipsam
            ad laboriosam nulla numquam repellendus quod impedit eius maiores ratione?
            Nulla veritatis possimus obcaecati illo facere rem sint nobis tempora,
            eius harum quidem accusantium recusandae. Maxime dolores facilis impedit.
            Eius praesentium alias quibusdam perspiciatis ea quia illum quod fugit
            amet harum nesciunt, quae, tempora dolorum sint expedita architecto sunt
            nobis error?
            <br /><br />
            quo atque, quae suscipit tempora itaque, eum minus. Animi, necessitatibus
            laboriosam eligendi, corporis adipisci quas repellat distinctio illum
            fugiat incidunt provident? Laudantium! Cupiditate laboriosam qui culpa
            earum labore minus aut, provident eligendi, recusandae ab molestiae sit
            laudantium est exercitationem voluptatem quisquam asperiores error nam
            aliquam, unde similique deleniti natus. Similique, voluptates ut. Qui
            tenetur incidunt, adipisci reprehenderit vero error eius quo unde, accusantium
            accusamus sint in cupiditate, recusandae consequatur laboriosam similique
            molestias eum asperiores itaque atque obcaecati perferendis ratione illum
            corporis? Consectetur! Sint ea nostrum eos dicta perferendis debitis
            aut magnam facilis obcaecati quis quae, quos voluptate aperiam ducimus
            deleniti veniam. Fugiat, eaque numquam quod alias placeat maiores illum
            aperiam totam magni. In, doloribus ad magni labore a quas soluta voluptate
            ullam vitae minus quasi, laudantium, iusto repudiandae! Aspernatur odit
            nostrum repellat porro, debitis quas vel eum eaque inventore! Quo, dolore
            ipsum. Nemo adipisci expedita in odit debitis harum architecto nihil
            impedit reprehenderit tempore! Esse non maxime eligendi natus eius vel,
            perferendis nihil quis labore laboriosam exercitationem ipsa alias maiores
            nesciunt sunt! Reiciendis sit facere ullam sint praesentium pariatur,
            .
          </div>
          <div class="block" data-id="Resume">
            Resume <br /><br />
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae iste
            perspiciatis nihil magni officia quibusdam, quisquam porro illo tenetur
            labore magnam nostrum, cum nemo molestiae quos, nulla qui est quae. Provident
            praesentium nam harum pariatur eius magnam laboriosam corrupti, dolorum
            odit dolore laudantium, accusantium error consequatur adipisci repudiandae
            quam distinctio debitis eligendi, nostrum recusandae id totam tempora
            nemo? Eum, adipisci. Reiciendis, tempore odit! Vero deserunt quis a,
            <br /><br />
            itaque iste dolorum quo. Adipisci earum obcaecati aliquid perferendis
            recusandae vel odit dolore. Neque ex perspiciatis perferendis voluptatibus
            in iusto itaque eius modi! Blanditiis, saepe fugit. Dolorum dolore soluta
            error quaerat voluptas ipsum assumenda alias, earum laudantium deserunt
            veritatis. Minus iste nam beatae, aut quam quia ullam cupiditate enim
            nihil sed voluptas delectus. Quaerat, facilis! Iusto eos laudantium aliquam,
            autem dolores unde, labore nulla omnis, quia ex dolore nobis quibusdam
            voluptatum eligendi! Doloremque facere quibusdam, fugiat omnis labore
            quod qui debitis accusamus error? Accusamus magni accusantium dignissimos
            <br /><br />
            quod at quos placeat repudiandae qui totam nostrum corrupti cupiditate
            odio suscipit! Ab voluptatum delectus adipisci dicta nam sint ducimus
            quo modi praesentium sit. Dignissimos numquam cumque facilis perferendis
            temporibus. Culpa quidem repellendus ex, libero repudiandae aperiam quasi
            modi deleniti. Architecto possimus harum dicta optio cumque facilis,
            eos nesciunt quidem inventore. Animi, ratione suscipit. Repellat fugit
            eos quia at laudantium ipsum doloremque. Perspiciatis perferendis amet,
            pariatur autem at enim commodi dolores! Quae nisi voluptas, commodi tempore
            eveniet eligendi minus nesciunt nostrum iste saepe aliquam? Cupiditate
            ex recusandae eum voluptate sequi aspernatur nulla consequatur earum
            quos alias, excepturi soluta provident delectus molestiae, illum totam
            tempora illo, sint voluptatibus? Nulla expedita magnam quo sapiente,
            voluptates nostrum? Nisi eius molestias itaque minus error illum laborum
            libero corrupti autem magni. Porro, deserunt a. Accusantium eum laboriosam
            eligendi possimus accusamus illo, id quaerat velit ut nam architecto
            minus nostrum? Molestias consectetur nesciunt, sit autem perferendis
            maxime consequuntur commodi eveniet laboriosam pariatur cumque quibusdam
            non a minima? Vitae quia in nisi architecto quis illo voluptatem quaerat
            nesciunt adipisci placeat. Ea. Aut consequatur officiis, autem, ea beatae
            quisquam, repellat possimus tempora dolorum facere earum molestiae dolores
            neque accusamus dignissimos voluptas repellendus labore impedit ipsam.
            Molestiae enim, ratione voluptas aspernatur saepe blanditiis! Magnam
            eligendi laudantium fuga, facere voluptas adipisci tenetur consequuntur
            facilis veniam nihil. Atque quas ipsum animi veniam accusantium necessitatibus
            recusandae rem nulla quia voluptatum! Soluta veritatis impedit cupiditate
            adipisci natus. Distinctio optio eligendi maiores, quos necessitatibus,
            veniam quas, ea sed pariatur dolorem sunt aliquam corporis cupiditate
            quo eos aut doloribus laboriosam minus ducimus hic numquam ratione dicta
            odio quod? Rem! Placeat minus harum libero maiores laudantium, officia
            adipisci quas aliquam veritatis ullam sit cumque quis iste eos vel optio
            molestiae quo alias esse! Neque voluptatibus vero reiciendis consequuntur
            placeat eligendi. Vel quas modi earum. Dolorem molestiae maiores recusandae?
            Officia, consequatur vitae? Eos molestias ipsa cupiditate vel, ea suscipit
            quibusdam animi necessitatibus est, aliquid atque enim aut, pariatur
            corporis eveniet ratione exercitationem doloribus iusto. Soluta fugit
            nam, fugiat quaerat dolor quos voluptas. Odio quisquam esse illum fugit
            rem voluptas provident. Voluptates labore dolorum eos cum quia exercitationem
            perspiciatis error pariatur reiciendis, molestias vero itaque in enim
            quasi nesciunt. Provident rem corporis minima. Magni consequuntur voluptatum,
            provident iusto cum veniam. Eos cupiditate deserunt vel fugiat quisquam
            ab obcaecati. Aspernatur hic ducimus, voluptate voluptas, aut ad repellendus
            nam, ipsum dolorem vitae facilis modi officiis. Tenetur, soluta? Officiis,
            non error ratione dolor debitis ipsa architecto, accusantium tempore
            .
          </div>
          <div class="block" data-id="Hobbies">
            Hobbies <br /><br />
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae iste
            perspiciatis nihil magni officia quibusdam, quisquam porro illo tenetur
            labore magnam nostrum, cum nemo molestiae quos, nulla qui est quae. Provident
            praesentium nam harum pariatur eius magnam laboriosam corrupti, dolorum
            odit dolore laudantium, accusantium error consequatur adipisci repudiandae
            quam distinctio debitis eligendi, nostrum recusandae id totam tempora
            nemo? Eum, adipisci. Reiciendis, tempore odit! Vero deserunt quis a,
            itaque iste dolorum quo. Adipisci earum obcaecati aliquid perferendis
            recusandae vel odit dolore. Neque ex perspiciatis perferendis voluptatibus
            <br /><br />
            earum tenetur quos non quaerat voluptatum aut explicabo dignissimos eius,
            dolor cum impedit obcaecati molestiae ipsum quas animi tempore. Ipsam
            ad laboriosam nulla numquam repellendus quod impedit eius maiores ratione?
            Nulla veritatis possimus obcaecati illo facere rem sint nobis tempora,
            eius harum quidem accusantium recusandae. Maxime dolores facilis impedit.
            Eius praesentium alias quibusdam perspiciatis ea quia illum quod fugit
            amet harum nesciunt, quae, tempora dolorum sint expedita architecto sunt
            nobis error? Numquam modi sunt aliquid cumque quas exercitationem harum?
            Necessitatibus maiores nesciunt, veritatis provident voluptates sequi
            quis quo sed eos? Tempora tenetur, esse repudiandae explicabo ratione
            eos eveniet! Eos aliquid iure ratione quaerat tenetur veritatis non quidem
            commodi aspernatur! Est molestiae, accusantium, quasi excepturi animi,
            quod at quos placeat repudiandae qui totam nostrum corrupti cupiditate
            odio suscipit! Ab voluptatum delectus adipisci dicta nam sint ducimus
            quo modi praesentium sit. Dignissimos numquam cumque facilis perferendis
            temporibus. Culpa quidem repellendus ex, libero repudiandae aperiam quasi
            modi deleniti. Architecto possimus harum dicta optio cumque facilis,
            eos nesciunt quidem inventore. Animi, ratione suscipit. Repellat fugit
            eos quia at laudantium ipsum doloremque. Perspiciatis perferendis amet,
            pariatur autem at enim commodi dolores! Quae nisi voluptas, commodi tempore
            eveniet eligendi minus nesciunt nostrum iste saepe aliquam? Cupiditate
            ex recusandae eum voluptate sequi aspernatur nulla consequatur earum
            quos alias, excepturi soluta provident delectus molestiae, illum totam
            tempora illo, sint voluptatibus? Nulla expedita magnam quo sapiente,
            voluptates nostrum? Nisi eius molestias itaque minus error illum laborum
            libero corrupti autem magni. Porro, deserunt a. Accusantium eum laboriosam
            eligendi possimus accusamus illo, id quaerat velit ut nam architecto
            minus nostrum? Molestias consectetur nesciunt, sit autem perferendis
            maxime consequuntur commodi eveniet laboriosam pariatur cumque quibusdam
            non a minima? Vitae quia in nisi architecto quis illo voluptatem quaerat
            nesciunt adipisci placeat. Ea. Aut consequatur officiis, autem, ea beatae
            quisquam, repellat possimus tempora dolorum facere earum molestiae dolores
            neque accusamus dignissimos voluptas repellendus labore impedit ipsam.
            Molestiae enim, ratione voluptas aspernatur saepe blanditiis! Magnam
            eligendi laudantium fuga, facere voluptas adipisci tenetur consequuntur
            facilis veniam nihil. Atque quas ipsum animi veniam accusantium necessitatibus
            recu <br /><br />
            quasi nesciunt. Provident rem corporis minima. Magni consequuntur voluptatum,
            provident iusto cum veniam. Eos cupiditate deserunt vel fugiat quisquam
            ab obcaecati. Aspernatur hic ducimus, voluptate voluptas, aut ad repellendus
            nam, ipsum dolorem vitae facilis modi officiis. Tenetur, soluta? Officiis,
            non error ratione dolor debitis ipsa architecto, accusantium tempore
            illo blanditiis ducimus ea praesentium tempora fugit harum fugiat consectetur
            dignissimos autem! Placeat voluptas est delectus debitis blanditiis.
            Molestias ipsam rem pariatur aut suscipit alias autem laudantium quo
            perspiciatis nemo. Et incidunt unde distinctio sit obcaecati, quae omnis
            aliquid, rerum maiores porro, impedit culpa animi consequuntur eligendi
            labore. Esse, recusandae perspiciatis! Voluptates aspernatur consequuntur
            harum laborum quisquam reiciendis voluptas, rerum vel numquam ab quam
            unde commodi enim veniam accusantium quis cupiditate, aliquid odio at
            optio dolores? Nemo, suscipit. Iusto repellat debitis nemo quia. Qui
            officiis aliquid iste veniam repudiandae tenetur mollitia quasi beatae
            impedit, rem maiores ipsam, eveniet unde! Molestias ex
          </div>
        </div>
      </div>
    </main>
  </div>
</Layout>

<style>
  body {
    background-color: #0e100f;
    scroll-behavior: smooth;
  }

  main {
    color: #fff;
    min-height: calc(100vh - 78.88px);
    height: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
  }

  ul {
    list-style: none;
    font-size: 48px;
    font-family: var(--font-Bold);
    /* position: sticky;
    top: 2px;
    z-index: -1; */
  }

  li {
    margin-bottom: 40px;
    color: rgb(169, 169, 169);
  }

  li a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    user-select: none;
    transition: color 0.3s ease;
  }

  li a.active {
    color: rgba(255, 255, 255, 1);
  }

  .me {
    font-family: var(--font-Regular);
    font-size: 32px;
    /* width: 90vw; */
    padding-inline: 30px;
    margin-block: 65px 35px;
    text-align: justify;
    display: flex;
    gap: 50px;
  }

  .col-2 {
  }

  .col-8 {
    font-size: 18px;
    font-family: var(--font-Regular);
  }
</style>
<script>
  import $ from "jquery";

  let linkActive = $(".sub-link.active").attr("id");
  $(".block").not(`[data-id="${linkActive}"]`).hide();

  $(document).ready(function () {
    let link: any;
    $(".sub-link ").on("click", function () {
      $(".sub-link ").removeClass("active");
      $(this).addClass("active");
      link = $(this).attr("id");
      $(".block").hide();
      $(`.block[data-id="${link}"]`).show();
    });
  });
</script>
