---
// import Loader2 from "../components/Loader2.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Me">
  <div class="container">
    <main>
      <div class="me">
        <div class="col-2">
          <ul class="sub-pages">
            <li><a class="sub-link active" href="#">My Story</a></li>
            <li><a class="sub-link" href="#">Experience</a></li>
            <li><a class="sub-link" href="#">Resume</a></li>
            <li><a class="sub-link" href="#">Hobbies</a></li>
          </ul>
        </div>
        <div class="col-8">
          Greetings, everyone! Allow me the honor of introducing myself. My name
          is Andrea, and it is a true pleasure to meet all of you!HI,, Lorem
          ipsum dolor sit amet, consectetur adipisicing elit. Ut debitis amet
          explicabo ipsum voluptatem tempora, placeat ab quis quia nostrum vero
          ipsam, totam exercitationem. Aliquam magni ullam impedit dolorem
          autem? Perspiciatis est ex ratione incidunt laboriosam, commodi esse!
          Possimus, distinctio quam debitis repellat dignissimos error aliquid
          deleniti repudiandae incidunt perferendis amet omnis, natus ipsam,
          unde magni consequuntur deserunt enim provident! Dolorum quis ab neque
          quaerat, rerum doloribus laborum quae recusandae. Fugiat neque modi,
          itaque ipsum fuga nam ullam quasi perspiciatis magnam distinctio
          doloribus molestiae aliquam consectetur, cupiditate explicabo
          dignissimos temporibus. Eaque, hic nostrum quas perspiciatis rem sunt
          quam asperiores quis tempora numquam commodi sit illo veritatis
          exercitationem suscipit cumque earum similique.<br /><br /> Ex in quam,
          maiores ut natus aliquam aspernatur saepe! Molestiae, odit sequi vero,
          ratione laboriosam magnam eaque est voluptatem consequatur perferendis
          ex, exercitationem illo natus eligendi sint tempora hic non enim maxime.
          Doloremque minus eligendi ex facere. Veniam, officia. Eligendi maxime aspernatur
          recusandae voluptatibus fuga excepturi perferendis facere, officiis sed
          quidem est voluptates ipsam? Architecto perferendis voluptatem maiores
          facere porro, sequi totam esse! Odio corporis dolore sed pariatur maxime!
          Architecto suscipit quas voluptate quibusdam perspiciatis quia harum animi
          at quae officia, consectetur incidunt optio dolorem aut fugiat minima?
          Culpa esse quod inventore magni numquam officia odit veritatis, autem exercitationem.
          Magnam id impedit natus quibusdam libero quisquam animi cumque ex, soluta
          esse eligendi eius fugiat architecto illo corporis voluptates suscipit
          atque labore error aliquid nihil blanditiis quis quidem? Alias, deleniti!
          Quia consequatur, saepe quos eaque ipsum maxime et commodi inventore aspernatur
          eos earum ea fugit ad quisquam delectus accusantium molestias asperiores
          deserunt voluptatem sint reprehenderit debitis dolore labore. Amet, ratione.
          Minima maxime illo ea ipsa at distinctio corporis dolores cumque architecto,
          nisi illum temporibus vitae voluptate sequi quasi quisquam officia pariatur
          maiores sint voluptatibus cupiditate debitis nostrum accusamus! Aliquid,
          eveniet. Ad alias fugiat vitae sunt reiciendis! Blanditiis sit ea, facilis
          placeat in harum nihil! Sapiente nulla officia ducimus eveniet iusto. Numquam
          natus voluptatum placeat maxime nostrum esse quia vitae similique? At quisquam
          dolore voluptatem inventore ipsum consequatur neque? Quia cupiditate, dolor
          dolorum eveniet autem aliquam distinctio? Perferendis tempora, quod deleniti
          mollitia enim necessitatibus ipsum, itaque impedit cupiditate officiis
          perspiciatis magni. Cumque esse architecto repellat illo sit assumenda
          provident, quaerat molestias error quam odio non laborum labore ducimus.<br
          /><br />
          Molestiae, nihil molestias voluptatem similique tempore eaque vitae modi,
          laborum sint non inventore. Ab, ad mollitia excepturi perferendis cumque
          deleniti soluta aspernatur, itaque tenetur voluptatibus dolores, esse molestias
          magni ipsum nesciunt quidem. Fugit voluptate earum veniam magni voluptatibus
          totam odio, molestias distinctio. Cupiditate! Dolores ratione similique
          architecto voluptates enim, harum adipisci, dicta, assumenda corporis at
          temporibus ipsam. Sapiente nam vel sunt aliquam possimus eius vero nemo
          tenetur dicta, earum, quos, ratione ipsa dolorem. Fugit explicabo nostrum
          error, cum similique quos ducimus expedita necessitatibus dolorem, quidem
          quasi distinctio, rem iure minus amet mollitia aut ex tenetur sunt officia
          aspernatur libero eaque culpa? Esse, natus. Quaerat sint, voluptatibus,
          quis veritatis tenetur totam, laudantium alias ducimus molestiae minus
          qui ullam facilis nulla necessitatibus amet atque excepturi et in commodi
          omnis dolor. Veritatis unde a eveniet ratione. Illo tempore nobis libero
          iste quidem, adipisci, reprehenderit voluptas soluta recusandae beatae
          praesentium animi exercitationem, nesciunt voluptatum atque provident necessitatibus
          dolorem eos velit! Laudantium saepe suscipit repellat minus? Esse, at.
          Similique, nesciunt. Soluta magnam fugit nesciunt fuga consequatur sunt
          ipsum beatae voluptate debitis, neque deserunt, sapiente veritatis asperiores
          alias! Deleniti corporis, harum atque dolores necessitatibus voluptate
          quasi tenetur culpa aliquam? Molestias velit deserunt placeat quod repellat
          dolore ex, voluptate nemo animi adipisci nostrum id enim illo alias dolores
          sapiente sint odio provident reiciendis deleniti minima itaque! Adipisci
          quasi ullam quam! Reiciendis quos nesciunt officia placeat, iste nisi quisquam
          iusto quaerat similique! Quasi totam dolorum quam assumenda, eveniet necessitatibus
          impedit. Adipisci, natus illum autem repudiandae quasi rem quis quisquam
          eveniet architecto!
        </div>
      </div>
    </main>
  </div>
</Layout>

<style>
  body {
    background-color: #0e100f;
    scroll-behavior: smooth;
  }
  main {
    color: #fff;
    min-height: calc(100vh - 78.88px);
    height: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
  }

  ul {
    list-style: none;
    font-size: 48px;
    font-family: var(--font-Bold);
    /* position: sticky;
    top: 2px;
    z-index: -1; */
  }

  li {
    margin-bottom: 40px;
    color: rgb(169, 169, 169);
  }

  li a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    user-select: none;
    transition: color 0.3s ease;
  }
  li a.active {
    color: rgba(255, 255, 255, 1);
  }

  .me {
    font-family: var(--font-Regular);
    font-size: 32px;
    /* width: 90vw; */
    padding-inline: 30px;
    margin-block: 65px 35px;
    text-align: justify;
    display: flex;
    gap: 50px;
  }

  .col-2 {
  }
  .col-8 {
    font-size: 18px;
    font-family: var(--font-Regular);
  }
</style>
<script>
  import $ from "jquery";

  $(document).ready(function () {
    $(".sub-link ").on("click", function () {
      $(".sub-link ").removeClass("active");
      $(this).addClass("active");
    });
  });
</script>
