---
import Loader from "../components/Loader.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Works">
  <div class="container">
    <main>
        WORKS
    </main>
  </div>
</Layout>

<style>
  main {
    color: #fff;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: :red;
  }

</style>

