---
import Loader from "../components/Loader.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Works"
  description="Enter the realm of creativity with ✨ Andrea's portfolio. Witness the magic of innovation and the power of inspired design in every project."
>
  <div class="container">
    <main>
      <div class="">Still working on them ........</div>
      <p>
        Welcome to Dhrego's Creative Hub! 🏄🏽 Explore my innovative projects and
        captivating artworks, showcasing my expertise as a Software Developer
        and UI/UX Designer.
      </p>
    </main>
  </div>
</Layout>

<style>
  main {
    color: #fff;
    min-height: calc(100vh - 78.88px);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--font-Black-It);
  }
  p {
    padding-inline: 10px;
    font-family: var(--font-Light);
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 10px;
    max-width: 900px;
  }
</style>
