---
import Loader from "../components/Loader.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Works">
  <div class="container">
    <main>Still working on them ........</main>
  </div>
</Layout>

<style>
  main {
    color: #fff;
    min-height: calc(100vh - 78.88px);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-Black-It);
  }
</style>
