<div class="circle bg-transition"></div>

<style>
  .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: clamp(280px, 50vw, 600px);
    height: clamp(280px, 50vw, 600px);
    z-index: -3;
    border-radius: 50%;
    background-color: var(--base-color);
    transition:
      background 2s ease,
      transform 1s ease-out 0.5s;
  }

  .circle.open {
    transform: translate(-50%, -50%) scale(1);
  }

  /* Vendor prefixes for broader browser support */
  .circle {
    -webkit-transition:
      background 2s ease,
      -webkit-transform 1s ease-out 0.5s;
    -moz-transition:
      background 2s ease,
      -moz-transform 1s ease-out 0.5s;
    -o-transition:
      background 2s ease,
      -o-transform 1s ease-out 0.5s;
    transition:
      background 2s ease,
      transform 1s ease-out 0.5s;
  }

  .circle.open {
    -webkit-transform: translate(-50%, -50%) scale(1);
    -moz-transform: translate(-50%, -50%) scale(1);
    -o-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
  }

  /* @media only screen and (max-width: 768px) {
    .circle {
      width: 480px;
      height: 480px;
    }

    .glassCard {
      height: 600px;
      width: 400px;
    }
  }
  @media only screen and (max-width: 480px) {
    .circle {
      width: 280px;
      height: 280px;
    }

    .glassCard {
      height: 400px;
      width: 220px;
      border-radius: 12px;
    }
  } */
</style>
