<div class="circle bg-transition"></div>

<style>
  .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: clamp(280px, 50vw, 700px);
    height: clamp(280px, 50vw, 700px);
    z-index: -3;
    border-radius: 50%;
    background-color: var(--base-color);
    transition: background 2s ease;
    -webkit-transition: background 2s ease;
    will-change: transform, background;
  }

  .circle.open {
    transform: translate(-50%, -50%) scale(1);
    -webkit-transform: translate(-50%, -50%) scale(1);
    transition:
      background 2s ease,
      transform 1s ease-out 0.5s;
  }
</style>
