<>
  <div class="preview">
    <div class="preview-img">
      <img src="img-group.png" style="display: none;" alt="Preload Image" />
    </div>
  </div>
  <div class="cursor-outline"></div>
  <div class="cursor-dot"></div>

  <div class="cursor-works">
    <div class="cursor-text">
      <div class="mask">
        <div data-text="View">Drag</div>
      </div>
    </div>

    <div class="cursor-svg">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="10px"
        height="10px"
        viewBox="0 0 10 10"
        version="1.1"
      >
        <title>Path</title>
        <g
          id="Desktop"
          stroke="none"
          stroke-width="1"
          fill="none"
          fill-rule="evenodd"
        >
          <g
            id="Projects-Section"
            transform="translate(-948, -584)"
            fill="#FFFFFF"
            fill-rule="nonzero"
            stroke="#FFFFFF"
            stroke-width="0.542084"
          >
            <g id="View-Project-Btn" transform="translate(872, 578)">
              <g
                id="Group"
                transform="translate(81.2399, 11.2386) rotate(90) translate(-81.2399, -11.2386)translate(77, 7)"
              >
                <path
                  d="M6.85063698,0.991467062 L-7.54301773e-17,7.8420592 L0.635086908,8.477176 L7.48568584,1.62655669 L7.61450285,6.07517349 L8.47980533,5.82270981 L8.34759125,1.25681924 C8.33013029,0.651943185 7.82444198,0.146251474 7.21955912,0.128740921 L2.77246421,-7.54301773e-17 L2.5192124,0.864532025 L6.85063698,0.991467062 Z"
                  id="Path"></path>
              </g>
            </g>
          </g>
        </g>
      </svg>
    </div>
  </div>

  <!-- <div class="cursor-box"></div> -->
</>

<style>
  .cursor-outline,
  .cursor-dot {
    opacity: 0;
    z-index: 99999999999;
  }

  .cursor-outline {
    border-radius: 50px;
    position: fixed;
    width: 80px;
    height: 80px;
    border: solid 5px #fff;
    mix-blend-mode: difference;
    pointer-events: none;
  }

  .cursor-dot {
    mix-blend-mode: difference;
    border-radius: 50px;
    position: fixed;
    width: 80px;
    height: 80px;
    background-color: #fff;
    border: solid 1px #fff;
    pointer-events: none;
  }

  .cursor-outline,
  .cursor-dot {
    top: 50%;
    left: 10%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
  }

  /* CURSOR WORKS */
  .cursor-works {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    pointer-events: none;
    position: fixed;
    z-index: 999;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.2s ease 0.2s;
  }

  .cursor-works.active {
    transition: transform 0.2s ease 0s;
    transform: translate(-50%, -50%) scale(1);
  }

  .cursor-works .cursor-text {
    border: 1px solid rgba(255, 255, 255, 0.35);
    border-radius: 2rem;
    padding: 0.5rem 2rem;
    display: flex;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    font-family: var(--font-Regular);
  }

  .cursor-works .cursor-text div[data-text]::after {
    content: attr(data-text);
    position: absolute;
    transform: translateY(100%);
    left: 0;
    mix-blend-mode: difference;
  }

  .cursor-works .cursor-text div[data-text] {
    position: relative;
    transition: transform 0.2s ease;
  }

  .cursor-works .cursor-text.active div[data-text] {
    transform: translateY(-100%);
  }

  .cursor-works .cursor-svg {
    display: flex;
    border: 1px solid rgb(195, 195, 195);
    border-radius: 100%;
    padding: 0.5rem;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
  }

  .cursor-works .cursor-svg svg {
    width: 15px;
    height: 15px;
  }

  .mask {
    overflow: hidden;
  }

  .cursor-hidden {
    opacity: 0;
    transition: opacity 0.5s ease;
  }

  .cursor-visible {
    opacity: 1;
    transition: opacity 0.1s ease;
  }

  /* .cursor-box {
    width: clamp(10em, 27.5vw, 25em);
    height: clamp(10em, 27.5vh, 25em);
    position: fixed;
    border: solid 1px #ffffff85;
    pointer-events: none;
    z-index: 999999999;
    transform: scale(0);
    background-size: cover;
    background-position: center;
    will-change: transform;
  } */

  /* .preview {
    position: fixed;
    width: clamp(10em, 27.5vw, 25em);
    height: clamp(10em, 27.5vh, 25em);
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transform: scale(0);
    transform-origin: center center;
    pointer-events: none;
    overflow: hidden;
    z-index: 9999;
    display: block;
    background-size: cover;
    background-position: center;
    will-change: transform;
  } */

  /* PREVIEW BOX FOR HOVER REVEAL */
  .preview {
    position: fixed;
    width: clamp(10em, 27.5vw, 25em);
    height: calc(width * 0.75);
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transform: scale(0);
    transform-origin: center center;
    pointer-events: none;
    overflow: hidden;
    z-index: 9999;
    display: block;
    background-size: cover;
    background-position: center;
    will-change: transform;
    aspect-ratio: 4 / 3;
  }

  .preview-img {
    width: 100%;
    height: 100%;
    background-image: url("/img-group.png");
    background-size: cover;
    background-position: 0 0;
  }

  @media screen and (max-width: 768px) {
    .cursor-outline,
    .cursor-dot,
    .cursor-works {
      display: none;
    }
  }
</style>

<script>
  import gsap from "gsap";
  import $ from "jquery";

  //CURSOR POINTER ANIMATION
  gsap.set(".cursor-dot", { scale: 0.1 });
  gsap.set(".cursor-outline", { scale: 0.3 });

  document.addEventListener("mousemove", mouseMove);

  let xCTo = gsap.quickTo(".cursor-outline", "left", {
    duration: 0.2,
    ease: "power3",
  });
  let yCTo = gsap.quickTo(".cursor-outline", "top", {
    duration: 0.2,
    ease: "power3",
  });

  let xDTo = gsap.quickTo(".cursor-dot", "left", {
    duration: 0.6,
    ease: "power3",
  });
  let yDTo = gsap.quickTo(".cursor-dot", "top", {
    duration: 0.6,
    ease: "power3",
  });

  let isVisible = false;

  function mouseMove(e: MouseEvent) {
    if (!isVisible) {
      gsap.set(".cursor-outline, .cursor-dot", { opacity: 1 });
      isVisible = true;
    }

    const cursorPosition = {
      left: e.clientX,
      top: e.clientY,
    };

    xCTo(cursorPosition.left);
    yCTo(cursorPosition.top);
    xDTo(cursorPosition.left);
    yDTo(cursorPosition.top);
  }

  let scaleAnim = gsap.timeline({ paused: true });

  scaleAnim
    .to(".cursor-outline", {
      scale: 1,
    })
    .to(
      ".cursor-dot",
      {
        scale: 1,
        duration: 0.35,
      },
      0
    );

  //CLICK ANIMATION HANDLER
  function handlePointerEvent(e: MouseEvent) {
    if (e.type === "pointerdown") {
      gsap.timeline().to(".cursor-dot", { scale: 0.2, duration: 0.3 });
    } else if (e.type === "pointerup") {
      gsap.timeline().to(".cursor-dot", { scale: 0.1, duration: 0.3 });
    }
  }

  document.addEventListener("pointerdown", function (e) {
    handlePointerEvent(e);
  });

  document.addEventListener("pointerup", function (e) {
    handlePointerEvent(e);
  });

  //Navlink animation handler
  let navlinks = document.querySelectorAll(".nav-link a");
  let links = document.querySelectorAll(".sub-pages li a");

  function handleCursorScale(scale: number) {
    gsap.to(".cursor-dot", { scale: scale, duration: 0.3 });
  }

  navlinks.forEach((navlink) => {
    navlink.addEventListener("mouseenter", () => handleCursorScale(2));
    navlink.addEventListener("mouseleave", () => handleCursorScale(0.1));
  });

  links.forEach((link) => {
    link.addEventListener("mouseenter", () => handleCursorScale(0.65));
    link.addEventListener("mouseleave", () => handleCursorScale(0.1));
  });

  //CURSOR WORKS
  const $cursorWorks = $(".cursor-works");
  const $wrapperWorks = $(".project_carousel");
  const $workCells = $(".project_tile");
  const $cursorText = $(".cursor-text");
  const $worksSlider = $(".scroll");
  let isCursorActive = false;
  let timeoutId: any;

  const moveToCursor = (e: MouseEvent, disableAnimation?: any) => {
    const clientX = e.clientX;
    const clientY = e.clientY;
    $cursorWorks.toggleClass("active", isCursorActive);
    if (disableAnimation) {
      $cursorWorks.css({ left: clientX + "px", top: clientY + "px" });
      return;
    }
    gsap.to($cursorWorks, {
      left: clientX,
      top: clientY,
      duration: 1,
      ease: "power2.out",
    });
  };

  const removeActiveFromText = () => {
    if ($cursorText.hasClass("active")) {
      $cursorText.removeClass("active");
    }
  };

  $worksSlider.on("mouseenter", (e: MouseEvent) => {
    moveToCursor(e, true);
    isCursorActive = true;
    gsap.to(".cursor-outline, .cursor-dot", {
      duration: 0.3,
      opacity: 0,
      ease: "power3",
    });
  });

  $wrapperWorks.on("mousemove", (e: MouseEvent) => {
    moveToCursor(e);
    removeActiveFromText();
  });

  $worksSlider.on("mouseleave", () => {
    isCursorActive = false;
    $cursorWorks.removeClass("active");
    gsap.to($(".cursor-outline, .cursor-dot"), {
      duration: 0.3,
      delay: 0.1,
      opacity: 1,
      ease: "power3",
    });
  });

  $workCells.on("mousemove", () => {
    clearTimeout(timeoutId);
    timeoutId = setTimeout(() => {
      $cursorText.addClass("active");
    }, 900);
  });

  // // HOVER FOR WORKS ON INDEX
  // const $cursorBox = $(".cursor-box");
  // const $cursorDot = $(".cursor-dot");
  // const $cursorOutline = $(".cursor-outline");

  // // Collect image URLs from data attributes
  // const imageUrls = $(".block-content li a")
  //   .map(function () {
  //     return $(this).attr("data-img");
  //   })
  //   .get();

  // // Preload images
  // const preloadImages = (urls: any) => {
  //   urls.forEach((url: any) => {
  //     const img = new Image();
  //     img.src = url;
  //   });
  // };

  // preloadImages(imageUrls);

  // $(".block-content li").on("mousemove", function (e: MouseEvent) {
  //   gsap
  //     .timeline()
  //     .to($cursorDot, { scale: 0, duration: 0.3 })
  //     .to($cursorOutline, { scale: 0, duration: 0.3 }, 0)
  //     .to($cursorBox, { scale: 1, duration: 0.3 }, 0);
  //   moveToBox(e);
  // });

  // $(".block-content li").on("mouseleave", function () {
  //   gsap
  //     .timeline()
  //     .to($cursorDot, { scale: 0.1, duration: 0.3 })
  //     .to($cursorOutline, { scale: 0.3, duration: 0.3 }, 0)
  //     .to($cursorBox, { scale: 0, duration: 0.3 }, 0);
  // });

  // const moveToBox = (e: MouseEvent) => {
  //   const clientX = e.clientX;
  //   const clientY = e.clientY;
  //   const boxWidth = $cursorBox.width();
  //   const boxHeight = $cursorBox.height();
  //   const left = clientX - boxWidth / 2;
  //   const top = clientY - boxHeight / 2;

  //   gsap.to($cursorBox, {
  //     left: left,
  //     top: top,
  //     duration: 0,
  //     ease: "power2.out",
  //   });
  // };

  // $(".block-content li a").on("mousemove", function () {
  //   let img = $(this).attr("data-img");

  //   gsap.set($cursorBox, {
  //     backgroundImage: `url(${img})`,
  //     ease: "power1.in",
  //   });
  // });

  $(document).ready(function () {
    const projects = $(".block-content-works");
    const preview = $(".preview");
    const previewImg = $(".preview-img");

    // Cursor elements
    const $cursorDot = $(".cursor-dot");
    const $cursorOutline = $(".cursor-outline");

    const bgPositions = {
      p1: "0 0",
      p2: "0 33.33%",
      p3: "0 66.66%",
      p4: "0 100%",
    };

    $(document).on("mousemove", function (e: MouseEvent) {
      const clientX = e.clientX;
      const clientY = e.clientY;
      const boxWidth = preview.outerWidth();
      const boxHeight = preview.outerHeight();
      const left = clientX - boxWidth / 2;
      const top = clientY - boxHeight / 2;

      gsap.set(preview[0], {
        left: left,
        top: top,
      });
    });

    projects.on("mouseenter", function () {
      gsap.to(preview[0], { duration: 0.3, scale: 1 });
    });

    projects.on("mouseleave", function () {
      gsap.to(preview[0], { duration: 0.3, scale: 0 });
    });

    const moveProjectImg = function (project: HTMLAnchorElement) {
      const projectId = project.id;

      gsap.to(previewImg[0], {
        duration: 0.4,
        backgroundPosition: bgPositions[projectId] || "0 0",
      });
    };

    // Attach event listeners to the a tags
    const projectLinks = projects.find("ul li a");
    projectLinks.each(function () {
      $(this).on("mousemove", function (e: MouseEvent) {
        moveProjectImg(this);

        // Cursor animations on mousemove
        gsap
          .timeline()
          .to($cursorDot, { scale: 0, duration: 0.3 })
          .to($cursorOutline, { scale: 0, duration: 0.3 }, 0);
      });

      $(this).on("mouseleave", function () {
        // Cursor animations on mouseleave
        gsap
          .timeline()
          .to($cursorDot, { scale: 0.1, duration: 0.3 })
          .to($cursorOutline, { scale: 0.3, duration: 0.3 }, 0);
      });
    });
  });
</script>
