---
const date = new Date();
let year = date.getFullYear();
---

<footer>
  <div>© {year} Dhrego. All rights reserved. version 2023.11.02/1</div>
</footer>
<style>
  footer {
    padding: 1rem 0;
    width: inherit;
    color: var(--base-color);
    text-align: center;
  }
</style>
