---
const date = new Date();
let year = date.getFullYear();
---

<footer>
  <div>© {year} Dhrego. All rights reserved. version 2023.11.02/1</div>
</footer>
<style>
  footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    color: var(--base-color);
    transition: color 2s ease;
  }
</style>
<script>
  let koko = () => {
    for (let i = 0; i < 10; i++) {
      console.log("hi", i);
    }
  };

  window.addEventListener("load", koko);
</script>
