---
import Circle from "./Circle.astro";
import Navlink from "./Navlink.astro";
const { items } = Astro.props;
---

<div class="bobo">
  <div class="hamburger-menu">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <div class="koko">
    <div class="overlay">
      <ul class="nav-links">
        {
          items.map((navlink) => (
            <li class="nav-link">
              <Navlink href={navlink.href}>{navlink.text}</Navlink>
            </li>
          ))
        }
      </ul>
    </div>
    <Circle />
  </div>
</div>

<style>
  .nav-links {
    margin-left: 45px;
    font-family: var(--font-Jolly);
    color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    font-size: clamp(30px, 10vw, 200px);
    padding: 0 1rem;
    text-transform: uppercase;
    list-style: none;
    /* display: flex; */
  }

  .nav-link {
    opacity: 0;
    transform: translateY(80px);
  }

  .koko {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* background-color: rgba(0, 0, 0, 0.9);  */
    width: 100vw;
    height: 0;
    z-index: 999;
    /* transition: height 1s cubic-bezier(0.76, 0, 0.24, 1); */
    /* transition: height 1s cubic-bezier(0.25, 0.1, 0.25, 1); */
    /* transition: transform 0.8s ease; */
    display: flex;
    align-items: center;
    /* backdrop-filter: blur(150px) saturate(1.5); */
  }

  .overlay {
    height: 0;
    position: relative;
    /* background-color: rgba(0, 0, 0, 0.9); */
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100%;
    z-index: 999;
    /* transition: height 0.8s ease; */
    display: flex;
    align-items: center;
    backdrop-filter: blur(150px) saturate(1.5);
  }
  /* 
  .koko.active {
    height: 100vh;
  } */
  /* 
  .koko.active .overlay .nav-links {
    transition-delay: 0.55s;
    visibility: visible;
    opacity: 1;
  } */

  .hamburger-menu.active + .koko .overlay .nav-links {
    transition-delay: 0.45s;
    visibility: visible;
    opacity: 1;
  }

  span {
    margin-bottom: 6px;
    background-color: var(--base-color);
    height: 3px;
    width: 30px;
    transition:
      background 2s ease,
      transform 0.4s ease,
      opacity 0.9s ease;
  }

  .hamburger-menu {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 9999;
    cursor: pointer;
  }

  .hamburger-menu.active span:first-child {
    animation:
      leftToRight 0.4s forwards,
      0.4s ease 0.4s rotateTO forwards;
  }
  .hamburger-menu.active span:nth-child(even) {
    opacity: 0;
  }
  .hamburger-menu.active span:last-child {
    animation:
      leftToRight 0.4s forwards,
      0.4s ease 0.4s rotateBO forwards;
  }

  .hamburger-menu span:first-child {
    animation:
      rotateTC 0.4s forwards,
      0.4s ease 0.4s rightToLeft forwards;
  }

  .hamburger-menu span:last-child {
    animation:
      rotateBC 0.4s forwards,
      0.4s ease 0.4s rightToLeft forwards;
  }
  @keyframes leftToRight {
    0% {
      transform: translateX(-7px);
    }

    100% {
      transform: translateX(0);
    }
  }

  @keyframes rightToLeft {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-7px);
    }
  }

  @keyframes rotateTO {
    from {
      transform: rotate(0);
    }

    to {
      transform: rotate(45deg) translateY(13px);
    }
  }

  @keyframes rotateTC {
    from {
      transform: rotate(45deg) translateY(13px);
    }

    to {
      transform: rotate(0);
    }
  }

  @keyframes rotateBO {
    from {
      transform: rotate(0);
    }

    to {
      transform: rotate(-45deg) translateY(-13px);
    }
  }

  @keyframes rotateBC {
    from {
      transform: rotate(-45deg) translateY(-13px);
    }
    to {
      transform: rotate(0);
    }
  }
</style>

<script>
  import $ from "jquery";
  import { gsap } from "gsap";
  import { CustomEase } from "gsap/CustomEase";

  gsap.registerPlugin(CustomEase);

  const $menu = $(".hamburger-menu");
  const $overlay = $(".koko");
  const $circle = $(".circle");

  $menu.on("click", () => {
    $menu.toggleClass("active");
    // $overlay.toggleClass("active");
    $circle.toggleClass("open");
    activeHandler();

    const duration = 0.5;
    const easing = CustomEase.create("custom", "0.104,0.204,0.492,1");

    gsap.to($overlay, {
      height: $menu.hasClass("active") ? "100vh" : "0",
      duration: duration,
      ease: easing,
    });

    gsap.to(".nav-link", {
      duration: 1,
      opacity: $menu.hasClass("active") ? 1 : 0,
      y: $menu.hasClass("active") ? 0 : 100,
      ease: "power1.inOut",
      stagger: {
        each: 0.125,
      },
    });

    // gsap.to($circle, {
    //   transform: $menu.hasClass("active")
    //     ? "translate(-50%, -50%) scale(1)"
    //     : "translate(-50%, -50%) scale(0)",
    //   opacity: $menu.hasClass("active") ? 1 : 0,
    //   delay: $menu.hasClass("active") ? 0.5 : 0,
    //   ease: easing,
    // });
  });

  const activeHandler = () => {
    if ($menu.hasClass("active")) {
      $("body").css("overflowY", "hidden");
    } else {
      $("body").css("overflowY", "auto");
    }
  };
</script>
