---
import Globe from "./Globe.astro";
---

<>
  <h1 class="counter">
    <!-- <div class="bounce">
      <img
        src="https://api.dicebear.com/8.x/adventurer-neutral/svg?seed=dhrego&glasses=variant01"
        alt="avatar"
      />
    </div> -->
    <Globe />
    <span>0</span>
  </h1>

  <div class="overlay-loader">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>
</>
<style>
  .counter {
    padding-inline: 20px;
    position: fixed;
    right: 40px;
    bottom: 0;
    font-family: "Jolly Lodger";
    font-size: clamp(60px, 14vw, 200px);
    z-index: 100000;
    transition: 0.3s ease;
    /* color: #fff; */
  }

  .counter span {
    display: inline-block;
    width: 200px;
    height: auto;
    /* min-width: 200px; */
  }

  .bounce img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: bounce 1s infinite;
    transition: transform 1s ease;
  }

  .overlay-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    display: flex;
  }

  .bar {
    width: 10vw;
    height: 105vh;
    /* background-color: #8aaae5; */
    background-color: #dadada;
  }

  @keyframes bounce {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-150px);
    }
  }

  @media only screen and (max-width: 768px) {
    @keyframes bounce {
      0%,
      100% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-75px);
      }
    }

    .counter {
      right: 0;
    }

    .counter span {
      width: 45px;
    }

    .bounce img {
      border-radius: 50%;
      width: 60px;
      height: 60px;
      animation: bounce 1s infinite;
      transition: transform 1s ease;
    }
  }
</style>

<script>
  import { gsap } from "gsap";

  const startLoader = () => {
    let counterElement = document.querySelector(".counter span");
    let currentValue = 0;

    const updateCounter = () => {
      if (currentValue === 100) {
        return;
      }

      currentValue += Math.floor(Math.random() * 10) + 1;

      if (currentValue > 100) {
        currentValue = 100;
      }

      counterElement.textContent = `${currentValue}`;

      let delay = Math.floor(Math.random() * 200) + 50;

      setTimeout(updateCounter, delay);
    };
    updateCounter();
  };

  window.addEventListener("load", () => {
    startLoader();

    gsap.to(".counter", {
      duration: 0.25,
      delay: 2.5,
      opacity: 0,
      onComplete: () => {
        gsap.to(".counter", {
          display: "none",
        });
      },
    });

    gsap.to(".bar", {
      duration: 1.25,
      delay: 3,
      height: 0,
      stagger: {
        amount: 0.5,
      },
      ease: "power4.inOut",
      onComplete: () => {
        gsap.to(".overlay-loader", {
          display: "none",
        });
      },
    });
  });
</script>
