---
import Navlink from "./Navlink.astro";

const navlinks = [
  {
    text: "Home",
    href: "/",
  },
  {
    text: "Me",
    href: "/me",
  },
  {
    text: "Works",
    href: "/works",
  },
  {
    text: "Contact",
    href: "/contact",
  },
];
---

<nav>
  <div class="logo">
    <svg
      width="357"
      height="241"
      viewBox="0 0 357 241"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M356.257 162.119C346.988 188.282 329.273 210.297 306.13 224.412C282.987 238.528 255.849 243.871 229.339 239.531C202.828 235.191 75.0995 222.991 57.2572 202.167C39.415 181.342 132.563 153.18 131.489 125.324C130.414 97.4685 -14.9239 197.538 1.25723 175.297C17.4384 153.056 194.138 9.88056 220.229 3.35144C246.319 -3.17768 273.782 -0.107226 297.938 12.0396C322.094 24.1865 341.448 44.6582 352.703 69.9666L295.875 97.2366C290.694 85.5857 281.784 76.1613 270.663 70.5694C259.543 64.9775 246.9 63.564 234.889 66.5697C222.878 69.5755 242.338 86.9978 234.889 97.2366C227.44 107.475 193.542 109.897 194.037 122.721C194.532 135.545 212.015 130.073 220.229 139.66C228.442 149.247 226.879 173.299 239.083 175.297C251.287 177.295 253.742 155.498 264.396 149C275.05 142.502 293.244 151.704 297.511 139.66L356.257 162.119Z"
        fill="#8AAAE5"></path>
    </svg>
  </div>

  <div class="hamburger-menu">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <div class="overlay">
    <ul class="nav-links">
      {
        navlinks.map((navlink) => (
          <li>
            <Navlink href={navlink.href}>{navlink.text}</Navlink>
          </li>
        ))
      }
    </ul>
  </div>
</nav>

<style>
  nav {
    display: flex;
    justify-content: space-between;
    border-radius: 0 0 16px 16px;
    width: 80vw;
    margin: 0 auto;
    padding-block: 20px 10px;
    position: sticky;
    top: 0;
  }

  .nav-links {
    margin-left: 45px;
    font-family: "Jolly Lodger";
    color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    font-size: 10vw;
    padding: 0 1rem;
    text-transform: uppercase;
    list-style: none;
  }

  .overlay.active .nav-links {
    transition-delay: 0.7s;
    visibility: visible;
    opacity: 1;
  }

  .logo svg {
    max-width: 40px;
    height: auto;
  }

  .logo svg path {
    transition: all 2s ease;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100vw;
    height: 0;
    z-index: 999;
    transition: height 0.8s ease;
    display: flex;
    align-items: center;
  }

  .overlay.active {
    height: 100vh;
  }

  span {
    margin-bottom: 6px;
    background-color: var(--base-color);
    height: 3px;
    width: 30px;
    transition:
      background 2s ease,
      transform 0.4s ease,
      opacity 0.9s ease;
  }

  .hamburger-menu {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 9999;
    cursor: pointer;
  }

  .hamburger-menu.active span:first-child {
    animation:
      leftToRight 0.4s forwards,
      0.4s ease 0.4s rotateTO forwards;
  }
  .hamburger-menu.active span:nth-child(even) {
    opacity: 0;
  }
  .hamburger-menu.active span:last-child {
    animation:
      leftToRight 0.4s forwards,
      0.4s ease 0.4s rotateBO forwards;
  }

  .hamburger-menu span:first-child {
    animation:
      rotateTC 0.4s forwards,
      0.4s ease 0.4s rightToLeft forwards;
  }

  .hamburger-menu span:last-child {
    animation:
      rotateBC 0.4s forwards,
      0.4s ease 0.4s rightToLeft forwards;
  }

  @keyframes leftToRight {
    0% {
      transform: translateX(-7px);
    }

    100% {
      transform: translateX(0);
    }
  }

  @keyframes rightToLeft {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-7px);
    }
  }

  @keyframes rotateTO {
    from {
      transform: rotate(0);
    }

    to {
      transform: rotate(45deg) translateY(13px);
    }
  }

  @keyframes rotateTC {
    from {
      transform: rotate(45deg) translateY(13px);
    }

    to {
      transform: rotate(0);
    }
  }

  @keyframes rotateBO {
    from {
      transform: rotate(0);
    }

    to {
      transform: rotate(-45deg) translateY(-13px);
    }
  }

  @keyframes rotateBC {
    from {
      transform: rotate(-45deg) translateY(-13px);
    }
    to {
      transform: rotate(0);
    }
  }

  @media screen and (max-width: 530px) {
    nav {
      border-radius: 0;
      width: 100%;
      padding-inline: 10px;
      align-items: center;
    }

    .hamburger-menu {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
</style>

<script>
  const menu = document.querySelector(".hamburger-menu");
  const overlay = document.querySelector(".overlay");
  menu.addEventListener("click", () => {
    menu.classList.toggle("active");
    overlay.classList.toggle("active");
  });
</script>
