---
import "../styles/app.css";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="logo.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>

<script>
  const changeColor = (index) => {
    root.style.setProperty("--base-color", colors[index]);
    logoSvg.setAttribute("fill", colors[index]);

    index = (index + 1) % colors.length;

    setTimeout(() => {
      changeColor(index);
    }, 5000);
  };

  const colors = [
    "#8aaae5",
    "#f77126",
    "#26f7ac",
    "#26c5f7",
    "#d439d7",
    "#e04c4c",
  ];

  let root = document.documentElement;
  let logoSvg = document.querySelector(".logo svg path");

  changeColor(0);
</script>
